/*==================== DEVELOPMENT PAGE ====================*/
.development-pg {
	.prices-b {
		h2 {
			margin-bottom: 60px;
		}

		&__list {
			--widthCol: 25%;
			--air-l: 20px;
			--air-b: 50px;
		}
	}

	.price-card {
		&__subtitle {
			font-size: 16px;
		}

		&__textBox {
			padding: 25px 18px 35px;
			font-size: 14px;
		}

		.custom-list {
			li {
				padding-left: 1.7em;
			}
		}
	}

	@include desctop-min {
		.prices-b {
			&__list {
				--widthCol: 50%;
				--air-l: 40px;
			}
		}
	}

	@include table {
		.content-wrap {
			padding-top: 0;
		}

		.main-slider {
			&__label {
				max-width: 170px;
			}

			@at-root {
				.main-slider__slide-textBox {
					.main-slider__labels ~ & {
						padding-bottom: 125px;
					}
				}
			}
		}
	}

	@include mobile {
		.prices-b {
			h2 {
				margin-bottom: 50px;
			}
			&__list {
				--widthCol: 100%;
			}
		}
	}
}
