/*~~~~~~~~~~~~~~~~~~~~~~~~~
INDEX PAGE 
~~~~~~~~~~~~~~~~~~~~~~~~~*/
.index-pg {
	.main-slider__slide {
		.btn {
			min-width: 262px;
		}
	}

	@include desctop-min {
		.main-slider__slide {
			.btn {
				min-width: 240px;
			}
		}
	}

	@include table {
		.content-wrap {
			padding: 0 0 90px;
		}
	}

	@include mobile {
		.main-slider__slide {
			.btn {
				min-width: 220px;
			}
		}
	}
}
