.content {
	ol,
	ul,
	ol,
	p {
		margin-bottom: getEm(28, 18);

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul,
	ol {
		padding-left: 0;

		li {
			margin-bottom: 0.4em;
			list-style-type: disc;
			list-style-position: inside;
		}
	}

	ol li {
		list-style-type: decimal;
	}

	a:not(.btn) {
		font-weight: 500;
		color: var(--color-primary);
		font-style: italic;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
