<!-- FOOTER -->
<footer>
	<div class="container">
		<!-- top -->
		<div class="footer__top flex">
			<!-- logo -->
			<a class="footer__logo logo" href="#">
				<img class="logo__ic" src="assets/img/logo-ic.png" alt="логотип">
				<span class="logo__text">CWEB</span>
			</a>
		</div>
		<!-- middle -->
		<div class="footer__middle">
			<div class="footer__middle-col">
				<p class="color-primary">Cоздание и продвижение сайтов</p>
				<p>ООО «КристаллВеб»</p>
				<p>УНП 193312909</p>
			</div>
			<!-- navigation -->
			<ul class="footer__middle-col footer__nav">
				<li><a href="#">Seo-продвижение</a></li>
				<li><a href="#">Разработка сайтов</a></li>
				<li><a href="#">Таргетированная реклама</a></li>
				<li><a href="#">Контекстная реклама</a></li>
				<li><a href="#">Реклама на youtube</a></li>
			</ul>
			<div class="footer__middle-col">
				<!-- info firm -->
				<div class="footer__firm-info-list firm-info-list flex-col">
					<a class="firm-info firm-info--mail" href="mailto:info@cweb.by">
						<svg class="firm-info__ic" width="16" height="12">
							<use href="./assets/img/headerAndFooter/sprite.svg#mail-ic"></use>
						</svg>
						info@cweb.by
					</a>
					<a class="firm-info firm-info--clock">
						<svg class="firm-info__ic" width="16" height="16">
							<use href="./assets/img/headerAndFooter/sprite.svg#clock-ic"></use>
						</svg>
						ПН-ПТ с 10:00 до 17:00

					</a>
					<a class="firm-info firm-info--loc">
						<svg class="firm-info__ic" width="12" height="16">
							<use href="./assets/img/headerAndFooter/sprite.svg#loc-ic"></use>
						</svg>
						г. Минск, проспект Дзержинского 125а</a>
				</div>
			</div>
			<div class="footer__middle-col">
				<!-- contacts -->
				<div class="footer__msgrs sci">
					<a class="sci__link sci__link--tg" href="https://msngr.link/tg/375447310101">
						<svg>
							<use href="./assets/img/headerAndFooter/sprite.svg#telegram-ic"></use>
						</svg>
					</a>
					<a class="sci__link sci__link--viber" href="https://msngr.link/vi/375447310101">
						<svg>
							<use href="./assets/img/headerAndFooter/sprite.svg#viber-ic"></use>
						</svg>
					</a>
					<a class="sci__link sci__link--wp" href="https://msngr.link/wa/375447310101">
						<svg>
							<use href="./assets/img/headerAndFooter/sprite.svg#wp-ic"></use>
						</svg>
					</a>
					<a class="sci__link sci__link--tel f-underline" href="tel:+375447310101">
						+375&nbsp;44&nbsp;731&nbsp;01&nbsp;01
					</a>
				</div>
				<!-- sci list -->
				<div class="footer__sci-list">
					<a class="sci__link sci__link--tiktok" href="https://www.tiktok.com/@cweb.by"
						target="_blank">
						<svg>
							<use href="./assets/img/headerAndFooter/sprite.svg#behance-ic"></use>
						</svg>
					</a>
					<a class="sci__link sci__link--ln" href="https://www.behance.net/cweb/" target="_blank">
						<svg>
							<use href="./assets/img/headerAndFooter/sprite.svg#tiktok-ic"></use>
						</svg>
					</a>
					<a class="sci__link sci__link--ln" href="https://www.linkedin.com/company/crystal-web-bel/"
						target="_blank">
						<svg>
							<use href="./assets/img/headerAndFooter/sprite.svg#linkedin-ic"></use>
						</svg>
					</a>
					<a class="sci__link sci__link--insta" href="https://msngr.link/wa/375447310101"
						target="_blank">
						<img src="./assets/img/headerAndFooter/svg/insta-ic.svg" alt="">
					</a>
				</div>

			</div>
		</div>
	</div>
	<!-- bottom -->
	<div class="footer__bottom">
		<div class="container">
			<div class="footer__bottom-content">
				<p>Цены, представленные на сайте, не являются публичной офертой и носят исключительно рекламный
					характер
				</p>
				<a href="assets/documents/privacy_policy_kupeliruru.pdf"
					download="Политика конфиденциальности сайта cweb.by">Политика конфиденциальности</a>
				<p class="footer__copyright">&copy; Copyright 2017-2021 ООО «Кристалл Веб»</p>
			</div>
		</div>
	</div>
</footer>