{% set title = "Главная" %}
{% set classPage = "index-pg" %}
{% extends "./includes/layouts/page.twig" %}

{% block content %}
<main>
	<!-- main slider -->
	<section class="main-slider-b">
		<div class="main-slider-b__container container">
			<div class="main-slider-wrap">
				<!-- slider -->
				<div class="main-slider swiper-container">
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="main-slider__slide	swiper-slide">
							<div class="main-slider__slide-textBox">
								<div class="main-slider__slide-textBox-bg"></div>
								<h1>СОЗДАНИЕ И ПРОДВИЖЕНИЕ <br> САЙТОВ</h1>
								<h4>ОБЕЩАЕМ ТОЛЬКО ТО, ЧТО МОЖЕМ <br> ВЫПОЛНИТЬ</h4>
								<div class="main-slider__slide-btns">
									<a class="btn btn--secondary" href="#" data-button-type="openModal">НАЧАТЬ
										РАБОТУ</a>
								</div>
							</div>
							<div class="main-slider__slide-img">
								<picture>
									<source srcset="./assets/img/pages/index/main-slider/img-1.webp 1x"
										type="image/webp">
									<img src="./assets/img/pages/index/main-slider/img-1.jpg"
										srcset="./assets/img/pages/index/main-slider/img-1@2x.jpg 2x"
										alt="Наша команда">
								</picture>
							</div>
						</div>
						<!-- slide -->
						<div class="main-slider__slide	swiper-slide">
							<div class="main-slider__slide-textBox">
								<div class="main-slider__slide-textBox-bg"></div>
								<h1>СОЗДАНИЕ И ПРОДВИЖЕНИЕ <br> САЙТОВ</h1>
								<h4>ОБЕЩАЕМ ТОЛЬКО ТО, ЧТО МОЖЕМ <br> ВЫПОЛНИТЬ</h4>
								<div class="main-slider__slide-btns">
									<a class="btn btn--secondary" href="#" data-button-type="openModal">НАЧАТЬ
										РАБОТУ</a>
								</div>
							</div>
							<div class="main-slider__slide-img">
								<picture>
									<source srcset="./assets/img/pages/index/main-slider/img-1.webp 1x"
										type="image/webp">
									<img src="./assets/img/pages/index/main-slider/img-1.jpg"
										srcset="./assets/img/pages/index/main-slider/img-1@2x.jpg 2x"
										alt="Наша команда">
								</picture>
							</div>
						</div>
						<!-- slide -->
						<div class="main-slider__slide	swiper-slide">
							<div class="main-slider__slide-textBox">
								<div class="main-slider__slide-textBox-bg"></div>
								<h1>СОЗДАНИЕ И ПРОДВИЖЕНИЕ <br> САЙТОВ</h1>
								<h4>ОБЕЩАЕМ ТОЛЬКО ТО, ЧТО МОЖЕМ <br> ВЫПОЛНИТЬ</h4>
								<div class="main-slider__slide-btns">
									<a class="btn btn--secondary" href="#" data-button-type="openModal">НАЧАТЬ
										РАБОТУ</a>
								</div>
							</div>
							<div class="main-slider__slide-img">
								<picture>
									<source srcset="./assets/img/pages/index/main-slider/img-1.webp 1x"
										type="image/webp">
									<img src="./assets/img/pages/index/main-slider/img-1.jpg"
										srcset="./assets/img/pages/index/main-slider/img-1@2x.jpg 2x"
										alt="Наша команда">
								</picture>
							</div>
						</div>
					</div>
				</div>
				<!-- slider nav -->
				<div class="main-slider-nav">
					<div class="slider-arr slider-arr--circ slider-arr--prev">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_left"></use>
						</svg>
					</div>
					<div class="slider-arr slider-arr--circ slider-arr--next">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_right"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- band slider -->
	<section class="band-slider-b section" data-aos="fade-up">
		<div class="band-slider-b__container container">
			<h2 class="section__title title-1" data-aos="zoom-in" data-aos-delay="800">
				<span>НАША КОМАНДА</span>
			</h2>
			<!-- slider wrap -->
			<div class="band-slider-wrap slider-wrap">
				<!-- slider -->
				<div class="band-slider swiper-container">
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/serg-d_ava.png)">
								</div>
								<h5 class="band-card__name">Сергей Дешук</h5>
								<p class="band-card__post">Директор</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Консалтинг по бизнес-процессам</li>
												<li>Менеджер проектов</li>
												<li>Специалист по продажам</li>
												<li>Планирование и контроль работы,
													разработка и внедрение стратегии по
													развитию компании</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/serg-d_s-1.jpg"
												data-fslightbox="gallery">
												<img src="./assets/img/components/band/serg-d_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/serg-d_s-2.jpg"
												data-fslightbox="gallery">
												<img src="./assets/img/components/band/serg-d_s-2.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/katya-d_ava.png)">
								</div>
								<h5 class="band-card__name">Екатерина Десятник</h5>
								<p class="band-card__post">Зам. директора </p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Web – аналитика</li>
												<li>Создание стратегии и постановка</li>
												<li>SEO/PPC задач</li>
												<li>Полное ведение ключевых проектов по</li>
												<li>SEO/PPC</li>
												<li>Консалтинг по вопросам продвижения</li>
												<li>Настройка таргетированной рекламы</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/katya-d_s-1.jpg"
												data-fslightbox="katya-d">
												<img src="./assets/img/components/band/katya-d_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/katya-d_s-2.jpg"
												data-fslightbox="katya-d">
												<img src="./assets/img/components/band/katya-d_s-2.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/katya-d_s-3.jpg"
												data-fslightbox="katya-d">
												<img src="./assets/img/components/band/katya-d_s-3.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/natali-b_ava.png)">
								</div>
								<h5 class="band-card__name">Наталья Богдан</h5>
								<p class="band-card__post">Project-менеджер</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Ведение проектов по разработке, SEO, PPC</li>
												<li>Контроль работы ключевых специалистов</li>
												<li>Анализ и контроль сроков выполнения задач</li>
												<li>Составление документации</li>
												<li>Общение с заказчиками</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/natali-b_s-1.jpg"
												data-fslightbox="natali-b">
												<img src="./assets/img/components/band/natali-b_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/natali-b_s-2.jpg"
												data-fslightbox="natali-b">
												<img src="./assets/img/components/band/natali-b_s-2.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/masha-s_ava.png)">
								</div>
								<h5 class="band-card__name">Мария Шиманович</h5>
								<p class="band-card__post">Web-дизайнер</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>UI/UX дизайн сайтов</li>
												<li>Дизайн рекламных креативов</li>
												<li>Оформление и ведение социальных сетей</li>
												<li>Редизайн сайтов</li>
												<li>Создание визуалов</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/masha-s_s-1.jpg"
												data-fslightbox="masha-s">
												<img src="./assets/img/components/band/masha-s_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/masha-s_s-2.jpg"
												data-fslightbox="masha-s">
												<img src="./assets/img/components/band/masha-s_s-2.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/kostya-l_ava.png)">
								</div>
								<h5 class="band-card__name">Контантин Ласый</h5>
								<p class="band-card__post">PPC специалист/WEB аналитик</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Настройка контекстной рекламы</li>
												<li>Настройка сквозной аналитики</li>
												<li>Внедрение систем аналитики,
													настройка событий и целей</li>
												<li>Разработка рекламной стратегии</li>
												<li>Составление отчетности по PPC
													проектам</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/kostya-l_s-1.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/kostya-l_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/kostya-l_s-2.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/kostya-l_s-2.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/kostya-l_s-3.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/kostya-l_s-3.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/kostya-l_s-4.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/kostya-l_s-4.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/yura-b_ava.png)">
								</div>
								<h5 class="band-card__name">Юрий Безруков</h5>
								<p class="band-card__post">SEO-специалист</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Разработка стратегии по оптимизации сайта</li>
												<li>Работа с семантическим ядром</li>
												<li>Составление ТЗ на написание текстов</li>
												<li>Работа по внешней и внутренней оптимизации сайта</li>
												<li>Составление отчетности по SEO</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/kostya-l_s-1.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/yura-b_s-1.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/daria-k_ava.png)">
								</div>
								<h5 class="band-card__name">Качур Дарья</h5>
								<p class="band-card__post">Верстальщик</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Разработка стратегии по оптимизации сайта</li>
												<li>Работа с семантическим ядром</li>
												<li>Составление ТЗ на написание текстов</li>
												<li>Работа по внешней и внутренней оптимизации сайта</li>
												<li>Составление отчетности по SEO</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary disable"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/dima-v_ava.png)">
								</div>
								<h5 class="band-card__name">Дмитрий Высоцкий</h5>
								<p class="band-card__post">Программист/разработчик</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Специалист по работе с CMS MODx,
													WordPress и Bitrix</li>
												<li>Разработка сайтов</li>
												<li>Оптимизация работы сайтов</li>
												<li>Установка сайтов на хостинг</li>
												<li>Техническая поддержка уже
													готовых сайтов.</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary disable"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
				<!-- slider nav -->
				<div class="slider-nav">
					<button class="slider-arr slider-arr--prev" type="button" aria-label="Предыдужий слай">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_left"></use>
						</svg>
					</button>
					<button class="slider-arr slider-arr--next" type="button" aria-label="Следующий слай">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_right"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</section>
	<!-- complexes -->
	<section class="complexes-b section">
		<div class="complexes-b__container container">
			<h2 class="section__title title-1" data-aos="zoom-in" data-aos-duration="3000">
				Комплексы
			</h2>
			<p class="text">
				Компания ООО «Композит групп производство» благодарит за многолетнее и плодотворное
				сотрудничество всех сотрудников ООО «КристаллВеб», которые ответственно и по всем
				требованиям
				качества подошли к каждому нашему проекту. Более чем за 2 года сотрудничества были успешно
				разработаны сайты: polarspa.ru, composit-pools.ru и cpf-i.com в соответствии со всеми нашими
				пожеланиями. Отдельная благодарность специалистам по SEO продвижению, контекстной, баннерной
				и
				таргетированной рекламы за эффективное продвижение каждого проекта в Яндекс, Google и
				социальных
				сетях.
			</p>
			<div class="complexes-b__list">
				<!-- complexes card -->
				<article class="complex-card" data-aos="fade-up" data-aos-duration="1000">
					<h5>Разработка сайта</h5>
					<div class="complex-card__inner">
						<ul class="custom-list">
							<li>Услуга, которая включена в тариф</li>
							<li>Услуга, которая включена в тариф</li>
							<li>Услуга, которая включена в тариф</li>
							<li>Услуга, которая включена в тариф</li>
							<li>Услуга, которая включена в тариф</li>
						</ul>
						<p class="complex-card__price">
							<b>79,99$</b>
							<span>99,99$</span>
						</p>
						<button class="btn" type="button" aria-label="Запросить КП">Запросить
							КП</button>
					</div>
				</article>
				<!-- complexes card -->
				<article class="complex-card  complex-card--crown-bg" data-aos="fade-up" data-aos-delay="400"
					data-aos-duration="1000">
					<h5>Разработка сайта + <br>
						SEO-продвижение + <br>
						контекстная реклама
					</h5>
					<div class="complex-card__inner">
						<ul class="custom-list">
							<li>Услуга, которая включена в тариф</li>
							<li>Услуга, которая включена в тариф</li>
							<li>Услуга, которая включена в тариф</li>
							<li>Далеко-далеко за, словесными горами в стране гласных и согласных живут
								рыбные
								тексты. Пустился языком речью большого семантика.</li>
							<li>Услуга, которая включена в тариф</li>
						</ul>
						<p class="complex-card__price">
							<b>159,99$</b>
						</p>
						<button class="btn" type="button" aria-label="Запросить КП">Запросить
							КП</button>
					</div>
				</article>
				<!-- complexes card -->
				<article class="complex-card" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
					<h5> Разработка сайта + <br> SEO-продвижение</h5>
					<div class="complex-card__inner">
						<ul class="custom-list">
							<li>Услуга, которая включена в тариф</li>
							<li>Услуга, которая включена в тариф</li>
							<li>Услуга, которая включена в тариф</li>
						</ul>
						<p class="complex-card__price">
							<b>110,99$</b>
							<span>129,99$</span>
						</p>
						<button class="btn" type="button" aria-label="Запросить КП">Запросить
							КП</button>
					</div>
				</article>
			</div>
		</div>
	</section>
	<!-- reviews slider -->
	<section class="reviews-slider-b section" data-aos="fade-up">
		<div class="reviews-slider-b__container container">
			<h2 class="section__title	title-1" data-aos="zoom-in" data-aos-delay="800">
				<span>ОТЗЫВЫ</span>
			</h2>
		</div>
		<div class="reviews-slider-wrap slider-wrap">
			<div class="container">
				<!-- slider -->
				<div class="reviews-slider swiper-container">
					<div class="swiper-wrapper">
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/autobiz-o.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="assets/img/components/reviews-slider/autobiz-o.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/Blessflowers_ru.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="assets/img/components/reviews-slider/Blessflowers_ru.jpg" alt="">
								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="./assets/img/components/reviews-slider/otzyv-360.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="./assets/img/components/reviews-slider/otzyv-360.jpg" alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="./assets/img/components/reviews-slider/vettorg.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="./assets/img/components/reviews-slider/vettorg.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/autobiz-o.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="assets/img/components/reviews-slider/autobiz-o.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/Blessflowers_ru.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="assets/img/components/reviews-slider/Blessflowers_ru.jpg" alt="">
								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/autobiz-o.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="assets/img/components/reviews-slider/autobiz-o.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/Blessflowers_ru.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="assets/img/components/reviews-slider/Blessflowers_ru.jpg" alt="">
								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="./assets/img/components/reviews-slider/otzyv-360.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="./assets/img/components/reviews-slider/otzyv-360.jpg" alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="./assets/img/components/reviews-slider/vettorg.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="./assets/img/components/reviews-slider/vettorg.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/autobiz-o.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="assets/img/components/reviews-slider/autobiz-o.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/Blessflowers_ru.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="assets/img/components/reviews-slider/Blessflowers_ru.jpg" alt="">
								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="btns jcc mt-52 mt-sm-36">
					<a class="btn-section btn" href="#">все отзывы</a>
				</div>
			</div>
		</div>
	</section>
	<!-- services -->
	<section class="services-b section" data-aos="fade-up">
		<div class="services-b__container container">
			<h2 class="section__title title-1" data-aos="zoom-in" data-aos-delay="800">Услуги</h2>
			<!-- bro menu -->
			<div class="services-menu bro-menu">
				<ul class="bro-menu__container">
					<!-- link -->
					<li class="bro-menu__item">
						<a class="bro-menu__link">
							<span>seo-продвижение</span>
						</a>
						<!-- content -->
						<ul class="bro-menu__submenu">
							<li class="bro-menu__item">
								<div class="services-menu__content">
									<div class="services-menu__content-bg"
										style="background-image: url(./assets/img/pages/index/services-tabs/seo.png)">
									</div>
									<p>
										Компания ООО «Композит групп производство» благодарит за многолетнее
										и
										плодотворное сотрудничество всех сотрудников ООО «КристаллВеб»,
										которые
										ответственно и по всем требованиям качества подошли к каждому нашему
										проекту.
										Более чем за 2 года сотрудничества были успешно разработаны сайты:
										polarspa.ru,
										composit-pools.ru и cpf-i.com в соответствии со всеми нашими
										пожеланиями.
									</p>
									<a href="#" class="btn">Перейти</a>
								</div>
							</li>
						</ul>
					</li>

					<li class="bro-menu__item">
						<a class="bro-menu__link">
							<span>разработка сайтов</span>
						</a>
						<!-- contet -->
						<ul class="bro-menu__submenu">
							<li class="bro-menu__item">
								<div class="services-menu__content">
									<div class="services-menu__content-bg"
										style="background-image: url(./assets/img/pages/index/services-tabs/development.png)">
									</div>
									<p>
										Компания ООО «Композит групп производство» благодарит за многолетнее
										и
										плодотворное сотрудничество всех сотрудников ООО «КристаллВеб»,
										которые
										ответственно и по всем требованиям качества подошли к каждому нашему
										проекту.
										Более чем за 2 года сотрудничества были успешно разработаны сайты:
										polarspa.ru,
										composit-pools.ru и cpf-i.com в соответствии со всеми нашими
										пожеланиями.
									</p>
									<a href="#" class="btn">Перейти</a>
								</div>
							</li>
						</ul>
					</li>
					<!-- link -->
					<li class="bro-menu__item">
						<a class="bro-menu__link">
							<span>контекстная реклама</span>
						</a>
						<!-- content -->
						<ul class="bro-menu__submenu">
							<li class="bro-menu__item">
								<div class="services-menu__content">
									<div class="services-menu__content-bg"
										style="background-image: url(./assets/img/pages/index/services-tabs/contextual.png);">
									</div>
									<p>
										Компания ООО «Композит групп производство» благодарит за многолетнее
										и
										плодотворное сотрудничество всех сотрудников ООО «КристаллВеб»,
										которые
										ответственно и по всем требованиям качества подошли к каждому нашему
										проекту.
										Более чем за 2 года сотрудничества были успешно разработаны сайты:
										polarspa.ru,
										composit-pools.ru и cpf-i.com в соответствии со всеми нашими
										пожеланиями.
									</p>
									<a href="#" class="btn">Перейти</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="bro-menu__item">
						<a class="bro-menu__link">
							<span>таргетированная реклама</span>
						</a>
						<ul class="bro-menu__submenu">
							<li class="bro-menu__item">
								<div class="services-menu__content">
									<div class="services-menu__content-bg"
										style="background-image: url(./assets/img/pages/index/services-tabs/targeted.png)">
									</div>
									<p>
										Компания ООО «Композит групп производство» благодарит за многолетнее
										и
										плодотворное сотрудничество всех сотрудников ООО «КристаллВеб»,
										которые
										ответственно и по всем требованиям качества подошли к каждому нашему
										проекту.
										Более чем за 2 года сотрудничества были успешно разработаны сайты:
										polarspa.ru,
										composit-pools.ru и cpf-i.com в соответствии со всеми нашими
										пожеланиями.
									</p>
									<a href="#" class="btn">Перейти</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- cases -->
	<section class="cases-b section" data-aos="fade-up" data-aos-duration="2000">
		<div class="cases-b__container container">
			<h2 class="title-1">Последний кейс</h2>
			<article class="cases-slider__slide case-card swiper-slide">
				<h3>создание и продвижение выкупавто</h3>
				<div class="case-card__content flex">
					<!-- img box -->
					<div class="case-card__img twenty-b">
						<img src="./assets/img/components/cases/vikup-avto_before.jpg" alt="">
						<img src="./assets/img/components/cases/vikup-avto_after.jpg" alt="">
					</div>
					<!-- tex box -->
					<div class="case-card__textBox">
						<p>
							Компания ООО «Композит групп производство» благодарит за многолетнее
							и
							плодотворное сотрудничество всех сотрудников ООО «КристаллВеб»,
							которые
							ответственно и по всем требованиям качества подошли к каждому нашему
							проекту. Более чем за 2 года сотрудничества были успешно разработаны
							сайты: polarspa.ru, composit-pools.ru и cpf-i.com в соответствии со
							всеми нашими пожеланиями. Отдельная благодарность специалистам по
							SEO
							продвижению, контекстной, баннерной и таргетированной рекламы за
							эффективное продвижение каждого проекта в Яндекс, Google и
							социальных
							сетях.
						</p>
						<div class="case-card__service-tools service-tools flex">
							<!-- tool -->
							<div class="service-tool">
								<div class="service-tool__btn">
									<div class="service-tool__img"
										style="background-image: url(./assets/img/components/services-tools/yandex-metrica.png);">
									</div>
								</div>
								<a class="service-tool__window" data-fslightbox="avto-vikup_y"
									href="./assets/img/components/services-tools/avto-vikup_y.jpg">
									<button class="service-tool__window-close" type="button"
										aria-label="Закрыть окно"></button>
									<img src="./assets/img/components/services-tools/avto-vikup_y.jpg"
										alt="Яндекс аналитика">
								</a>
								<p style="font-weight: 300;color:#000;">
									<span style="font-weight:400;"><span style="color:#FA0802;">Я</span>НДЕКС</span>
									МЕТРИКА
								</p>
							</div>
							<!-- tool -->
							<div class="service-tool">
								<div class="service-tool__btn">
									<div class="service-tool__img"
										style="background-image: url(./assets/img/components/services-tools/topvisor.png);">
									</div>
									<p style="font-weight: 700;">
										<span style="color:#1CBC9D;">TOP</span><span>VISOR</span>
									</p>
								</div>
								<a class="service-tool__window" data-fslightbox="avto-vikup_t"
									href="./assets/img/components/services-tools/avto-vikup_y.jpg">
									<button class="service-tool__window-close" type="button"
										aria-label="Закрыть окно"></button>
									<img src="./assets/img/components/services-tools/avto-vikup_y.jpg"
										alt="Яндекс аналитика">
								</a>
							</div>
						</div>
						<a class="case-card__more btn" href="#">Все кейсы</a>
					</div>
				</div>
			</article>
		</div>
	</section>
	<!-- clients -->
	<section class="clients-b section">
		<div class="clients-b__container container">
			<h2 class="title-1 section__title">Наши клиенты</h2>
			<div class="clients-slider-wrap slider-wrap">
				<!-- slider -->
				<div class="clients-slider swiper-container">
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="clients-slider__slide client-card swiper-slide">
							<a class="client-card__img" href="#">
								<img src="./assets/img/components/clients-slider/stroy360.png" alt="Строй 360">
							</a>
							<div class="client-card__content">
								<p>
									<strong>Строй 360</strong> - лидер по продаже сайдинга на рынке
									Республики Беларусь.
								</p>
								<p>
									Делали сео и разработку сайта.
								</p>
								<p>
									Работаем с 2018 года
								</p>
							</div>
						</div>
						<!-- slide -->
						<div class="clients-slider__slide client-card swiper-slide">
							<a class="client-card__img" href="#">
								<img src="./assets/img/components/clients-slider/stroy360.png" alt="Строй 360">
							</a>
							<div class="client-card__content">
								<p>
									<strong>Строй 360</strong> - лидер по продаже сайдинга на рынке
									Республики Беларусь.
								</p>
								<p>
									Делали сео и разработку сайта.
								</p>
								<p>
									Работаем с 2018 года
								</p>
							</div>
						</div>
						<!-- slide -->
						<div class="clients-slider__slide client-card swiper-slide">
							<a class="client-card__img" href="#">
								<img src="./assets/img/components/clients-slider/stroy360.png" alt="Строй 360">
							</a>
							<div class="client-card__content">
								<p>
									<strong>Строй 360</strong> - лидер по продаже сайдинга на рынке
									Республики Беларусь.
								</p>
								<p>
									Делали сео и разработку сайта.
								</p>
								<p>
									Работаем с 2018 года
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- slider nav -->
				<div class="slider-nav">
					<button class="slider-arr slider-arr--prev" type="button" aria-label="Предыдужий слай">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_left"></use>
						</svg>
					</button>
					<button class="slider-arr slider-arr--next" type="button" aria-label="Следующий слай">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_right"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</section>
	<!-- faq -->
	<section class="faq-b section">
		<div class="faq-b__container container">
			<h2 class="section__title title-1">Faq</h2>
			<!-- accardion -->
			<div class="faq-accardion accardion">
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Можете ли вы гарантировать ТОП-1 в поисковых системах?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Что эффективнее: SEO или контекстная реклама?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Можно ли пополнять рекламные аккаунты Google, Яндекс и Facebook по
							безналу?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Какая минимальная сумма пополнения?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Как сэкономить на рекламе, если моя компания работает с НДС?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Буду ли я иметь доступ к рекламному кабинету?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="partners-b section">
		<div class="partners-b__container container">
			<h2 class="title-1 section__title">Наши партнеры</h2>
			<div class="partners-b__list">
				<div class="partners-b__item">
					<img src="./assets/img/components/partners-b/yandex.png" alt="Яндекс">
				</div>
				<div class="partners-b__item">
					<img src="./assets/img/components/partners-b/a1.png" alt="A1">
				</div>
				<div class="partners-b__item">
					<img src="./assets/img/components/partners-b/hoster.png" alt="hoster.by">
				</div>
				<div class="partners-b__item">
					<img src="./assets/img/components/partners-b/call-tracking.png" alt="call-tracking">
				</div>
				<div class="partners-b__item">
					<img src="./assets/img/components/partners-b/mango.png" alt="mango office">
				</div>
				<div class="partners-b__item">
					<img src="./assets/img/components/partners-b/elma.png" alt="elma">
				</div>
				<div class="partners-b__item">
					<img src="./assets/img/components/partners-b/dom.png" alt="dom by">
				</div>
			</div>
		</div>
	</section>
	<!-- blog block -->
	<section class="blog-b section">
		<div class="blog-b__container container">
			<h2 class="section__title title-1">Блог</h2>
			<div class="blog-b__notes b-list">
				<!-- blog note -->
				<article class="blog-note b-list__col">
					<a class="blog-note__img">
						<img src="./assets/img/components/blog-b/img-1.jpg" alt="">
					</a>
					<div class="blog-note__content">
						<h5>
							<a href="#">
								почему мы такие классные? и что делать если вы хотите стать нами
							</a>
						</h5>
						<div class="blog-note__metadata note-metadata">
							<div class="note-metadata__item note-metadata__item--category">
								<svg>
									<use xlink:href="./assets/img/icons/sprite.svg#menu-ic"></use>
								</svg>
								Полезное
							</div>
							<div class="note-metadata__item note-metadata__item--date">
								<svg>
									<use xlink:href="./assets/img/icons/sprite.svg#clock-ic"></use>
								</svg>
								19.05.2021
							</div>
						</div>
						<p>
							Позиция Google и Яндекс такова, что никто не может гарантировать попадание сайта
							в ТОП и неизменность его позиций, включая самих специалистов Google и Яндекс.
							Однако, зная принципы работы поисковых систем и имея
						</p>
						<!-- blog note bottom -->
						<div class="blog-note__bottom vt-center flex-wrap">
							<a class="btn" href="#">Подробнее</a>
						</div>
					</div>
				</article>
				<!-- blog note -->
				<article class="blog-note b-list__col">
					<a class="blog-note__img">
						<img src="./assets/img/components/blog-b/img-1.jpg" alt="">
					</a>
					<div class="blog-note__content">
						<h5>
							<a href="#">
								почему мы такие классные? и что делать если вы хотите стать нами
							</a>
						</h5>
						<div class="blog-note__metadata note-metadata">
							<div class="note-metadata__item note-metadata__item--category">
								<svg>
									<use xlink:href="./assets/img/icons/sprite.svg#menu-ic"></use>
								</svg>
								Полезное
							</div>
							<div class="note-metadata__item note-metadata__item--date">
								<svg>
									<use xlink:href="./assets/img/icons/sprite.svg#clock-ic"></use>
								</svg>
								19.05.2021
							</div>
						</div>
						<p>
							Позиция Google и Яндекс такова, что никто не может гарантировать попадание сайта
							в ТОП и неизменность его позиций, включая самих специалистов Google и Яндекс.
							Однако, зная принципы работы поисковых систем и имея
						</p>
						<!-- blog note bottom -->
						<div class="blog-note__bottom vt-center flex-wrap">
							<a class="btn" href="#">Подробнее</a>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
	<!-- about -->
	<section class="about-b section">
		<div class="about-b__container container">
			<h2 class="title-1 section__title">
				О crystall web
			</h2>
			<div class="about-b__text">
				<div>
					<p>
						Создание и продвижение сайтов в Crystal Web - это комплексная услуга. Смысл в том,
						что
						при разработке сайта в дизайне, структуре и семантике мы учитываем элементы, которые
						необходимы для последующего SEO-продвижения.
					</p>
					<p>
						Например, если пришел запрос на разработку сайта по "строительной" тематике, то мы
						знаем, что будем делать "калькулятор расчета стоимости" и размещать прайс на работы
						с
						ценами. Мы знаем, что в строительной тематике наличие этих блоков - один из ключевых
						факторов попадания в ТОП поисковых систем.
					</p>
				</div>
				<div>
					<h4>Как мы определяем необходимые элементы для создания сайта под SEO?</h4>
					<p>Это обычная работа SEO-специалиста. Когда к нам попадают готовые сайты, у которых
						нет
						необходимых элементов дизайна для продвижения, то мы выгружаем ТОП
						сайтов-конкурентов по
						тематике и определяем, какие «фишки» необходимо внедрить на наш сайт. Так и с
						разработкой
						нового сайта: мы используем тот же приём.
					</p>
				</div>
				<div>
					<h4>В чем выгода создания сайта под продвижение?</h4>
					<p>
						Ответ простой. Делая сайт с правильным дизайном и структурой, мы уже знаем, как
						будем его продвигать. Это существенно облегчит работу по SEO и ускорит попадание
						сайта в ТОП. <br>
						Как правило, в ТОП попадают сайты, которые удобны для пользователя и хорошо
						конвертируют заявки, а мы под них мимикрируем уже на этапе разработки. Такой подход
						помогает создать действительно удобный и продающий сайт.

					</p>
				</div>
				<div>
					<h4>Почему стоит заказать создание сайта под продвижение у нас?</h4>
					<p>
						Наш самый частый запрос на работу - это создание сайта под продвижение или редизайн
						старого
						сайта, у которого есть позиции в ТОПе. Мы одинаково хорошо умеем и продвигать, и
						создавать
						сайты. За 2020 мы реализовали 16 комплексных проектов. Эти заказчики до сих пор
						сотрудничают
						с нами.

					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- application block -->
	<section class="application-b">
		<div class="application-b__container container">
			<div class="application-b__row">
				<div class="application-b__left">
					<div class="b24-form">
						<div id="b24-7738154165522853004949766543470124" data-styles-apllied="true"
							class="b24-form-style-modern">
							<div class="b24-form-wrapper b24-form-shadow">
								<div class="b24-form-header b24-form-padding-side">
									<div class="b24-form-header-title">ПОЛУЧИТЕ ПРЕДЛОЖЕНИЕ КОНКРЕТНО ДЛЯ ВАШЕГО БИЗНЕСА
									</div>
									<!---->
								</div>
								<div class="b24-form-content b24-form-padding-side">
									<form method="post" novalidate="novalidate">
										<div class="b24-form-progress-container">
											<div class="b24-form-progress-bar-container"><svg viewport="0 0 44 44"
													width="44" height="44" class="b24-form-progress">
													<circle r="20" cx="22" cy="22" stroke-width="4"
														class="b24-form-progress-track"></circle>
													<circle r="20" cx="22" cy="22" stroke-width="4"
														stroke-dasharray="125.60000000000001"
														stroke-dashoffset="62.800000000000004"
														class="b24-form-progress-bar"></circle>
												</svg>
												<div class="b24-form-progress-bar-counter"><strong>1</strong>/2
												</div>
											</div>
											<div class="b24-form-progress-bar-title">
												Контакты
											</div>
										</div>
										<div>
											<div class="b24-form-field b24-form-field-name b24-form-control-string">
												<div>
													<div>
														<div
															class="b24-form-control-container b24-form-control-icon-after">
															<input name="name" autocomplete="given-name" type="string"
																class="b24-form-control">
															<div class="b24-form-control-label">
																КП: Имя
																<span class="b24-form-control-required">*</span>
															</div>
															<!---->
															<!---->
															<div class="b24-form-control-alert-message"
																style="display: none;">
																Поле обязательно для заполнения
															</div>
														</div>
													</div>
													<!---->
													<!---->
												</div>
												<!---->
											</div>
											<div
												class="b24-form-field b24-form-field-phone b24-form-control-string b24-form-control-group">
												<div>
													<div>
														<div
															class="b24-form-control-container b24-form-control-icon-after">
															<input name="phone" autocomplete="tel" type="tel"
																class="b24-form-control">
															<div class="b24-form-control-label">
																КП: Телефон
																<span class="b24-form-control-required">*</span>
															</div>
															<!---->
															<!---->
															<div class="b24-form-control-alert-message"
																style="display: none;">
																Поле обязательно для заполнения
															</div>
														</div>
													</div> <a class="b24-form-control-add-btn">
														Добавить еще
													</a>
													<!---->
												</div>
												<!---->
											</div>
											<div class="b24-form-field b24-form-field-email b24-form-control-string">
												<div>
													<div>
														<div
															class="b24-form-control-container b24-form-control-icon-after">
															<input name="email" autocomplete="email" type="email"
																class="b24-form-control">
															<div class="b24-form-control-label">
																КП: E-mail
																<span class="b24-form-control-required"
																	style="display: none;">*</span>
															</div>
															<!---->
															<!---->
															<div class="b24-form-control-alert-message"
																style="display: none;">

															</div>
														</div>
													</div>
													<!---->
													<!---->
												</div>
												<!---->
											</div>
										</div>
										<!---->
										<!---->
										<div class="b24-form-btn-container">
											<!---->
											<div class="b24-form-btn-block"><button type="button" class="b24-form-btn">
													Далее
												</button></div>
											<!---->
										</div> <span style="color: red; display: none;">
											Debug: fill fields
										</span>
									</form>
								</div>
								<div class="b24-form-state-container">
									<div class="b24-form-loader" style="display: none;">
										<div class="b24-form-loader-icon"><svg
												xmlns:xlink="http://www.w3.org/1999/xlink"
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 263 174">
												<defs><svg width="158px" height="158px" viewBox="0 0 158 158"
														version="1.1" xmlns="http://www.w3.org/2000/svg"
														xmlns:xlink="http://www.w3.org/1999/xlink">
														<path id="bxSunLines"
															d="M79,0 C80.6568542,0 82,1.34314575 82,3 L82,22 C82,23.6568542 80.6568542,25 79,25 C77.3431458,25 76,23.6568542 76,22 L76,3 C76,1.34314575 77.3431458,0 79,0 Z M134.861,23.139 C136.032146,24.3104996 136.032146,26.2095004 134.861,27.381 L121.426,40.816 C120.248863,41.9529166 118.377746,41.9366571 117.220544,40.7794557 C116.063343,39.6222543 116.047083,37.7511367 117.184,36.574 L130.619,23.139 C131.7905,21.9678542 133.6895,21.9678542 134.861,23.139 L134.861,23.139 Z M158,79 C158,80.6568542 156.656854,82 155,82 L136,82 C134.343146,82 133,80.6568542 133,79 C133,77.3431458 134.343146,76 136,76 L155,76 C156.656854,76 158,77.3431458 158,79 Z M134.861,134.861 C133.6895,136.032146 131.7905,136.032146 130.619,134.861 L117.184,121.426 C116.40413,120.672777 116.091362,119.557366 116.365909,118.508478 C116.640455,117.45959 117.45959,116.640455 118.508478,116.365909 C119.557366,116.091362 120.672777,116.40413 121.426,117.184 L134.861,130.619 C136.032146,131.7905 136.032146,133.6895 134.861,134.861 Z M79,158 C77.3431458,158 76,156.656854 76,155 L76,136 C76,134.343146 77.3431458,133 79,133 C80.6568542,133 82,134.343146 82,136 L82,155 C82,156.656854 80.6568542,158 79,158 Z M23.139,134.861 C21.9678542,133.6895 21.9678542,131.7905 23.139,130.619 L36.574,117.184 C37.3272234,116.40413 38.4426337,116.091362 39.491522,116.365909 C40.5404103,116.640455 41.3595451,117.45959 41.6340915,118.508478 C41.9086378,119.557366 41.5958698,120.672777 40.816,121.426 L27.381,134.861 C26.2095004,136.032146 24.3104996,136.032146 23.139,134.861 Z M0,79 C0,77.3431458 1.34314575,76 3,76 L22,76 C23.6568542,76 25,77.3431458 25,79 C25,80.6568542 23.6568542,82 22,82 L3,82 C1.34314575,82 0,80.6568542 0,79 L0,79 Z M23.139,23.139 C24.3104996,21.9678542 26.2095004,21.9678542 27.381,23.139 L40.816,36.574 C41.5958698,37.3272234 41.9086378,38.4426337 41.6340915,39.491522 C41.3595451,40.5404103 40.5404103,41.3595451 39.491522,41.6340915 C38.4426337,41.9086378 37.3272234,41.5958698 36.574,40.816 L23.139,27.381 C21.9678542,26.2095004 21.9678542,24.3104996 23.139,23.139 Z"
															fill="#FFD110" class="bx-sun-lines-animate"></path>
													</svg></defs>
												<g fill="none" fill-rule="evenodd">
													<path
														d="M65.745 160.5l.245-.005c13.047-.261 23.51-10.923 23.51-23.995 0-13.255-10.745-24-24-24-3.404 0-6.706.709-9.748 2.062l-.47.21-.196-.477A19.004 19.004 0 0 0 37.5 102.5c-10.493 0-19 8.507-19 19 0 1.154.103 2.295.306 3.413l.108.6-.609-.01A17.856 17.856 0 0 0 18 125.5C8.335 125.5.5 133.335.5 143s7.835 17.5 17.5 17.5h47.745zM166.5 85.5h69v-.316l.422-.066C251.14 82.73 262.5 69.564 262.5 54c0-17.397-14.103-31.5-31.5-31.5-.347 0-.694.006-1.04.017l-.395.013-.103-.382C226.025 9.455 214.63.5 201.5.5c-15.014 0-27.512 11.658-28.877 26.765l-.047.515-.512-.063a29.296 29.296 0 0 0-3.564-.217c-16.016 0-29 12.984-29 29 0 15.101 11.59 27.643 26.542 28.897l.458.039v.064z"
														stroke-opacity=".05" stroke="#000" fill="#000"></path>
													<circle stroke="#FFD110" stroke-width="6" cx="131.5" cy="95.5"
														r="44.5" class="b24-form-loader-icon-sun-ring"></circle>
												</g>
												<use xlink:href="#bxSunLines" y="16.5" x="52.5" width="158" height="158"
													class="b24-form-loader-icon-sun-line"></use>
											</svg></div>
									</div>
									<div class="b24-form-state b24-form-success" style="display: none;">
										<div class="b24-form-state-inner">
											<div class="b24-form-state-icon b24-form-success-icon"></div>
											<div class="b24-form-state-text">
												<p>Отправлено!</p>
												<p></p>
											</div>
											<!---->
										</div>
										<div class="b24-form-inner-box"></div>
									</div>
									<div class="b24-form-state b24-form-error" style="display: none;">
										<div class="b24-form-state-inner">
											<div class="b24-form-state-icon b24-form-error-icon"></div>
											<div class="b24-form-state-text">
												<p></p>
											</div> <button class="b24-form-btn b24-form-btn-border b24-form-btn-tight">
												Отправить еще раз
											</button>
										</div>
										<div class="b24-form-inner-box"></div>
									</div>
									<div class="b24-form-state b24-form-warning" style="display: none;">
										<div class="b24-form-state-inner">
											<div class="b24-form-state-icon b24-form-warning-icon"><svg
													xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 169 169">
													<defs>
														<circle id="a" cx="84.5" cy="84.5" r="65.5"></circle>
														<filter x="-.8%" y="-.8%" width="101.5%" height="101.5%"
															filterUnits="objectBoundingBox" id="b">
															<feGaussianBlur stdDeviation=".5" in="SourceAlpha"
																result="shadowBlurInner1"></feGaussianBlur>
															<feOffset dx="-1" dy="-1" in="shadowBlurInner1"
																result="shadowOffsetInner1"></feOffset>
															<feComposite in="shadowOffsetInner1" in2="SourceAlpha"
																operator="arithmetic" k2="-1" k3="1"
																result="shadowInnerInner1"></feComposite>
															<feColorMatrix
																values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0886691434 0"
																in="shadowInnerInner1" result="shadowMatrixInner1">
															</feColorMatrix>
															<feGaussianBlur stdDeviation=".5" in="SourceAlpha"
																result="shadowBlurInner2"></feGaussianBlur>
															<feOffset dx="1" dy="1" in="shadowBlurInner2"
																result="shadowOffsetInner2"></feOffset>
															<feComposite in="shadowOffsetInner2" in2="SourceAlpha"
																operator="arithmetic" k2="-1" k3="1"
																result="shadowInnerInner2"></feComposite>
															<feColorMatrix
																values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.292285839 0"
																in="shadowInnerInner2" result="shadowMatrixInner2">
															</feColorMatrix>
															<feMerge>
																<feMergeNode in="shadowMatrixInner1"></feMergeNode>
																<feMergeNode in="shadowMatrixInner2"></feMergeNode>
															</feMerge>
														</filter>
													</defs>
													<g fill="none" fill-rule="evenodd">
														<circle stroke-opacity=".05" stroke="#000" fill-opacity=".07"
															fill="#000" cx="84.5" cy="84.5" r="84"></circle>
														<use fill="#FFF" xlink:href="#a"></use>
														<use fill="#000" filter="url(#b)" xlink:href="#a"></use>
														<path
															d="M114.29 99.648L89.214 58.376c-1.932-3.168-6.536-3.168-8.427 0L55.709 99.648c-1.974 3.25.41 7.352 4.234 7.352h50.155c3.782 0 6.166-4.103 4.193-7.352zM81.404 72.756c0-1.828 1.48-3.29 3.33-3.29h.452c1.85 0 3.33 1.462 3.33 3.29v12.309c0 1.827-1.48 3.29-3.33 3.29h-.453c-1.85 0-3.33-1.463-3.33-3.29V72.756zm7.77 23.886c0 2.274-1.892 4.143-4.194 4.143s-4.193-1.869-4.193-4.143c0-2.275 1.891-4.144 4.193-4.144 2.302 0 4.193 1.869 4.193 4.144z"
															fill="#000" opacity=".4"></path>
													</g>
												</svg></div>
											<div class="b24-form-state-text">
												<p>Форма не актуальна</p>
											</div>
										</div>
										<div class="b24-form-inner-box"></div>
									</div>
								</div>
								<div class="b24-form-recaptcha">
									<div>
										<div class="grecaptcha-badge" data-style="inline"
											style="width: 256px; height: 60px; box-shadow: gray 0px 0px 5px;">
											<div class="grecaptcha-logo"><iframe title="reCAPTCHA"
													src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcHcdEUAAAAACBnH9teNrlEpOQb63k7g1tAFpEW&amp;co=aHR0cHM6Ly9jd2ViLmJ5OjQ0Mw..&amp;hl=ru&amp;v=1p3YWy80wlZ7Q8QFR1gjazwU&amp;size=invisible&amp;badge=inline&amp;cb=2gt1m7v19239"
													width="256" height="60" role="presentation" name="a-j0brjzso4asy"
													frameborder="0" scrolling="no"
													sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
											</div>
											<div class="grecaptcha-error"></div><textarea id="g-recaptcha-response"
												name="g-recaptcha-response" class="g-recaptcha-response"
												style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
										</div>
									</div>
								</div>
								<!---->
							</div>
						</div>
					</div>
				</div>
				<div class="application-b__right">
					<div class="application-b__img">
						<img src="./assets/img/components/b-application/application-b-bg.jpg" alt="">
					</div>
					<div class="application-b__overlay flex-col">
						<!-- logo -->
						<a class="logo" href="#">
							<img class="logo__ic" src="assets/img/logo-ic.png" alt="логотип">
							<span class="logo__text">CWEB</span>
						</a>
						<p>
							обещаем только то, что можем выполнить!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}