{% set title = "Таргетированная реклама" %}
{% set classPage = "target-pg promotion-pg" %}
{% extends "./includes/layouts/page.twig" %}
{# ------ BREADCRUMBS ----- #}
{% block breadcrumbs %}
{% include "./includes/molecules/breadcrumbs.twig" with {
		breadcrumbs: [
			{text: 'Главная',href: "/"},
			{text: 'Продвижение'},
		]
	} %}
{% endblock breadcrumbs %}
{# ------ CONTENT WRAP ----- #}
{% block content %}
<main>
	<!-- main slider -->
	<section class="main-slider-b">
		<div class="main-slider-b__container container">
			<div class="main-slider-wrap">
				<!-- slider -->
				<div class="main-slider swiper-container">
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="main-slider__slide	swiper-slide">
							<div class="main-slider__slide-textBox">
								<div class="main-slider__slide-textBox-bg"></div>
								<h1>
									Настройка <br> таргетированной <br> рекламы в Минске
								</h1>
								<p>
									Разработаем рекламную стратегию в социальных сетях и настроим показы объявлений для
									потенциальных клиентов. Работаем со всеми популярными социальными сетями: Instagram,
									Facebook, VK, Одноклассники.
								</p>
								<div class="main-slider__slide-btns flex">
									<a class="btn btn--secondary" href="#">Заказать таргет</a>
								</div>
							</div>
							<div class="main-slider__slide-img">
								<img src="./assets/img/other/targeted-banner.jpg" alt="Наша команда">
							</div>
						</div>
					</div>
				</div>
				<!-- slider nav -->
				<div class="main-slider-nav">
					<div class="slider-arr slider-arr--circ slider-arr--prev">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_left"></use>
						</svg>
					</div>
					<div class="slider-arr slider-arr--circ slider-arr--next">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_right"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- description -->
	<div class="section">
		<div class="container">
			<div class="desc-item">
				<div class="desc-item__row align-items-center">
					<div class="desc-item__col desc-item__col--text">
						<!-- info bar -->
						<div class="info-bar">
							<h3 class="info-bar__title">Зачем нужна таргетированная реклама?</h3>
							<p>
								Количество пользователей социальных сетей растет в геометрической прогрессии. Чтобы
								привлечь дополнительный трафик и увеличить продажи, можно воспользоваться
								таргетированной рекламой. С ее помощью также можно повысить узнаваемость бренда и
								лояльность аудитории. Чтобы заказать настройку таргетированной рекламы, достаточно
								позвонить нам или написать!
							</p>
						</div>
					</div>
					<div class="desc-item__col desc-item__col--img">
						<img src="assets/img/other/purpose.jpg" alt="" style="margin: auto;">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- services -->
	<section class="services-b section">
		<div class="services-b__container container">
			<h2 class="section__title title-1">Услуги</h2>
			<!-- bro menu -->
			<div class="services-menu bro-menu">
				<ul class="bro-menu__container">
					<!-- link -->
					<li class="bro-menu__item">
						<a class="bro-menu__link">
							<span>реклама в Instagram, Facebook</span>
						</a>
						<!-- content -->
						<ul class="bro-menu__submenu">
							<li class="bro-menu__item">
								<div class="services-menu__content">
									<div class="services-menu__content-bg"
										style="background-image: url(./assets/img/pages/targeted/services-tabs/ff.png)">
									</div>
									<p>
										Компания ООО «Композит групп производство» благодарит за многолетнее
										и
										плодотворное сотрудничество всех сотрудников ООО «КристаллВеб»,
										которые
										ответственно и по всем требованиям качества подошли к каждому нашему
										проекту.
										Более чем за 2 года сотрудничества были успешно разработаны сайты:
										polarspa.ru,
										composit-pools.ru и cpf-i.com в соответствии со всеми нашими
										пожеланиями.
									</p>
									<a href="#" class="btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
								</div>
							</li>
						</ul>
					</li>

					<li class="bro-menu__item">
						<a class="bro-menu__link">
							<span>Реклама в VK</span>
						</a>
						<!-- contet -->
						<ul class="bro-menu__submenu">
							<li class="bro-menu__item">
								<div class="services-menu__content">
									<div class="services-menu__content-bg"
										style="background-image: url(./assets/img/pages/targeted/services-tabs/vk.png)">
									</div>
									<p>
										Компания ООО «Композит групп производство» благодарит за многолетнее
										и
										плодотворное сотрудничество всех сотрудников ООО «КристаллВеб»,
										которые
										ответственно и по всем требованиям качества подошли к каждому нашему
										проекту.
										Более чем за 2 года сотрудничества были успешно разработаны сайты:
										polarspa.ru,
										composit-pools.ru и cpf-i.com в соответствии со всеми нашими
										пожеланиями.
									</p>
									<a href="#" class="btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
								</div>
							</li>
						</ul>
					</li>
					<!-- link -->
					<li class="bro-menu__item">
						<a class="bro-menu__link">
							<span>Реклама в Mytarget</span>
						</a>
						<!-- content -->
						<ul class="bro-menu__submenu">
							<li class="bro-menu__item">
								<div class="services-menu__content">
									<div class="services-menu__content-bg"
										style="background-image: url(./assets/img/pages/targeted/services-tabs/my-target.png); background-size: 20% auto; background-position: center;">
									</div>
									<p>
										Компания ООО «Композит групп производство» благодарит за многолетнее
										и
										плодотворное сотрудничество всех сотрудников ООО «КристаллВеб»,
										которые
										ответственно и по всем требованиям качества подошли к каждому нашему
										проекту.
										Более чем за 2 года сотрудничества были успешно разработаны сайты:
										polarspa.ru,
										composit-pools.ru и cpf-i.com в соответствии со всеми нашими
										пожеланиями.
									</p>
									<a href="#" class="btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- advantages -->
	<section class="advantages-b section">
		<div class="advantages-b__container container">
			<h2 class="title-1 section__title" data-aos="zoom-in" data-aos-duration="2500">
				Преимущества таргетированной рекламы
			</h2>
			<div class="cards-slider-wrap slider-wrap">
				<!-- slider -->
				<div class="cards-slider swiper-container">
					<div class="swiper-wrapper">
						<!-- card -->
						<div class="info-card cards-slider__slide swiper-slide">
							<div class="info-card__ic">
								<svg width="61" height="61" viewBox="0 0 61 61">
									<path
										d="M47.0323 33.0035L34.7466 27.3333C40.1638 25.5795 44.25 20.4674 44.25 14.25C44.25 6.66825 38.0818 0.5 30.5 0.5C22.9183 0.5 16.75 6.66825 16.75 14.25C16.75 20.4569 20.8281 25.5768 26.2534 27.3333L13.9679 33.0035C6.51588 33.1544 0.5 39.2626 0.5 46.75C0.5 54.3794 6.683 60.5 14.25 60.5C21.8189 60.5 28 54.3778 28 46.75C28 40.6473 24.0031 35.4611 18.4898 33.6698L30.5 28.1268L42.5101 33.6699C36.9969 35.4611 33 40.6473 33 46.75C33 54.3793 39.1828 60.5 46.75 60.5C54.3188 60.5 60.5 54.378 60.5 46.75C60.5 39.2626 54.4841 33.1544 47.0323 33.0035ZM30.5 3C36.7033 3 41.75 8.04675 41.75 14.25C41.75 16.3693 41.1695 18.3945 40.0838 20.1495C39.2186 17.246 37.0686 14.8921 34.2949 13.75C35.0451 12.8751 35.5 11.74 35.5 10.5C35.5 7.743 33.257 5.5 30.5 5.5C27.743 5.5 25.5 7.743 25.5 10.5C25.5 11.7401 25.9548 12.8753 26.705 13.75C23.9314 14.8923 21.7814 17.246 20.9161 20.1495C19.8305 18.3945 19.25 16.3693 19.25 14.25C19.25 8.04675 24.2968 3 30.5 3ZM28 10.5C28 9.1215 29.1215 8 30.5 8C31.8785 8 33 9.1215 33 10.5C33 11.8785 31.8785 13 30.5 13C29.1215 13 28 11.8785 28 10.5ZM30.5 15.5C34.5156 15.5 37.8043 18.672 37.9916 22.6421C33.7301 26.4538 27.2725 26.4563 23.0085 22.6421C23.1958 18.6719 26.4844 15.5 30.5 15.5ZM6.7585 55.142C6.94575 51.1719 10.2344 48 14.25 48C18.2656 48 21.5543 51.1719 21.7416 55.142C17.4801 58.954 11.0224 58.956 6.7585 55.142ZM11.75 43C11.75 41.6215 12.8715 40.5 14.25 40.5C15.6285 40.5 16.75 41.6215 16.75 43C16.75 44.3785 15.6285 45.5 14.25 45.5C12.8715 45.5 11.75 44.3785 11.75 43ZM25.5 46.75C25.5 48.8693 24.9195 50.8945 23.8338 52.6494C22.9686 49.7459 20.8185 47.3921 18.0449 46.25C18.7951 45.3753 19.25 44.2401 19.25 43C19.25 40.243 17.007 38 14.25 38C11.493 38 9.25 40.243 9.25 43C9.25 44.2401 9.70488 45.3753 10.4551 46.25C7.6815 47.3923 5.53138 49.746 4.66625 52.6494C3.5805 50.8945 3 48.8693 3 46.75C3 40.5475 8.0455 35.5013 14.2478 35.5C14.2488 35.5 14.2498 35.5003 14.2508 35.5003C14.2519 35.5003 14.2531 35.5 14.2543 35.5C20.4556 35.5025 25.5 40.5483 25.5 46.75ZM46.7458 35.5C46.7469 35.5 46.7481 35.5003 46.7493 35.5003C46.7503 35.5003 46.7513 35.5 46.7523 35.5C52.9545 35.5013 58 40.5475 58 46.75C58 48.8693 57.4195 50.8945 56.3338 52.6495C55.4686 49.746 53.3186 47.3921 50.5449 46.25C51.2951 45.3753 51.75 44.2401 51.75 43C51.75 40.243 49.507 38 46.75 38C43.993 38 41.75 40.243 41.75 43C41.75 44.2401 42.2049 45.3753 42.9551 46.25C40.1815 47.3923 38.0314 49.7461 37.1663 52.6495C36.0805 50.8945 35.5 48.8693 35.5 46.75C35.5 40.5483 40.5444 35.5025 46.7458 35.5ZM44.25 43C44.25 41.6215 45.3715 40.5 46.75 40.5C48.1285 40.5 49.25 41.6215 49.25 43C49.25 44.3785 48.1285 45.5 46.75 45.5C45.3715 45.5 44.25 44.3785 44.25 43ZM39.2584 55.1421C39.4458 51.172 42.7344 48 46.75 48C50.7656 48 54.0543 51.172 54.2416 55.1421C49.9803 58.9538 43.5226 58.9561 39.2584 55.1421Z"
										fill="#0749AA" />
									<path
										d="M34.25 34.25C34.25 32.1822 32.5678 30.5 30.5 30.5C28.4323 30.5 26.75 32.1822 26.75 34.25C26.75 36.3177 28.4323 38 30.5 38C32.5678 38 34.25 36.3177 34.25 34.25ZM30.5 35.5C29.8108 35.5 29.25 34.9392 29.25 34.25C29.25 33.5607 29.8108 33 30.5 33C31.1893 33 31.75 33.5607 31.75 34.25C31.75 34.9392 31.1893 35.5 30.5 35.5Z"
										fill="#0749AA" />
									<path
										d="M49.25 29.25C51.3178 29.25 53 27.5678 53 25.5C53 23.4323 51.3178 21.75 49.25 21.75C47.1823 21.75 45.5 23.4323 45.5 25.5C45.5 27.5678 47.1823 29.25 49.25 29.25ZM49.25 24.25C49.9393 24.25 50.5 24.8108 50.5 25.5C50.5 26.1893 49.9393 26.75 49.25 26.75C48.5608 26.75 48 26.1893 48 25.5C48 24.8108 48.5608 24.25 49.25 24.25Z"
										fill="#0749AA" />
									<path
										d="M53 10.5C55.0678 10.5 56.75 8.81775 56.75 6.75C56.75 4.68225 55.0678 3 53 3C50.9323 3 49.25 4.68225 49.25 6.75C49.25 8.81775 50.9323 10.5 53 10.5ZM53 5.5C53.6893 5.5 54.25 6.06075 54.25 6.75C54.25 7.43925 53.6893 8 53 8C52.3108 8 51.75 7.43925 51.75 6.75C51.75 6.06075 52.3108 5.5 53 5.5Z"
										fill="#0749AA" />
									<path
										d="M9.25 25.5C9.25 27.5678 10.9323 29.25 13 29.25C15.0678 29.25 16.75 27.5678 16.75 25.5C16.75 23.4323 15.0678 21.75 13 21.75C10.9323 21.75 9.25 23.4323 9.25 25.5ZM13 24.25C13.6893 24.25 14.25 24.8108 14.25 25.5C14.25 26.1893 13.6893 26.75 13 26.75C12.3108 26.75 11.75 26.1893 11.75 25.5C11.75 24.8108 12.3108 24.25 13 24.25Z"
										fill="#0749AA" />
									<path
										d="M8 10.5C10.0677 10.5 11.75 8.81775 11.75 6.75C11.75 4.68225 10.0677 3 8 3C5.93225 3 4.25 4.68225 4.25 6.75C4.25 8.81775 5.93225 10.5 8 10.5ZM8 5.5C8.68925 5.5 9.25 6.06075 9.25 6.75C9.25 7.43925 8.68925 8 8 8C7.31075 8 6.75 7.43925 6.75 6.75C6.75 6.06075 7.31075 5.5 8 5.5Z"
										fill="#0749AA" />
								</svg>

							</div>
							<div class="info-card__title">Доверие аудитории</div>
							<div class="info-card__text">
								<p>
									Рекламные объявления органично встроены в ленты новостей и не вызывают отторжения у
									пользователей.
								</p>
							</div>
						</div>
						<!-- card -->
						<div class="info-card cards-slider__slide swiper-slide">
							<div class="info-card__ic">
								<svg width="65" height="65" viewBox="0 0 65 65">
									<g clip-path="url(#clip0_1223_124)">
										<path
											d="M65 24.6076C65 20.6869 62.2422 17.3955 58.5512 16.5376V1.90427C58.5512 1.28885 58.2536 0.71111 57.7522 0.353558C57.2509 -0.00349765 56.6077 -0.0967289 56.026 0.104115L27.0013 10.1175H13.101C10.7613 10.1175 2.45674 11.8255 1.51798 12.0199C0.633774 12.2028 0 12.9819 0 13.8845V35.3311C0 36.2337 0.633774 37.0123 1.51798 37.1958C2.27722 37.353 7.85373 38.5 11.1967 38.9329V56.0557C11.1967 60.9876 15.2403 65 20.2108 65C25.1808 65 29.2245 60.9876 29.2245 56.0557V39.8652L56.026 49.1115C56.2283 49.1809 56.4381 49.2151 56.6469 49.2151C57.0381 49.2151 57.4254 49.0946 57.7522 48.8616C58.2536 48.5045 58.5512 47.9268 58.5512 47.3108V32.6775C62.2422 31.8201 65 28.5287 65 24.6076ZM15.216 35.2895V13.9261H18.3373V35.2895H15.216ZM22.1459 13.9261H25.2666V35.2895H22.1459V13.9261ZM3.80859 15.4411C6.29608 14.9457 9.40643 14.37 11.4074 14.0928V35.1233C9.40494 34.8461 6.29459 34.2704 3.80859 33.7745V15.4411ZM20.2108 61.1914C17.3405 61.1914 15.0053 58.8874 15.0053 56.0557V39.0981H25.4159V56.0557C25.4159 58.8874 23.0812 61.1914 20.2108 61.1914ZM54.7426 44.6399L29.0752 35.7849V13.4307L54.7426 4.57574V44.6399ZM58.5512 28.6765V20.5391C60.1088 21.2507 61.1914 22.8069 61.1914 24.6076C61.1914 26.4087 60.1088 27.9649 58.5512 28.6765Z"
											fill="#0749AA" />
									</g>
									<defs>
										<clipPath id="clip0_1223_124">
											<rect width="65" height="65" fill="white" />
										</clipPath>
									</defs>
								</svg>
							</div>
							<div class="info-card__title">Разнообразие рекламных форматов</div>
							<div class="info-card__text">
								С помощью разнообразных рекламных форматов можно продемонстрировать ваш продукт или
								услугу с наиболее выгодной стороны.
							</div>
						</div>
						<!-- card -->
						<div class="info-card cards-slider__slide swiper-slide">
							<div class="info-card__ic">
								<svg width="80" height="68" viewBox="0 0 80 68">
									<path
										d="M67.8438 0.662451C67.1125 -0.0687988 65.9313 -0.0687988 65.2 0.662451C64.4688 1.3937 64.4688 2.57495 65.2 3.3062C79.0938 17.2 79.0938 39.7937 65.2 53.6875C64.4688 54.4187 64.4688 55.6 65.2 56.3312C65.575 56.7062 66.0438 56.875 66.5313 56.875C67.0188 56.875 67.4876 56.6875 67.8626 56.3312C83.2001 40.9937 83.2001 16.0187 67.8438 0.662451Z"
										fill="#0749AA" />
									<path
										d="M12.1562 0.662443C-3.20002 16.0187 -3.20002 40.9937 12.1562 56.3499C12.5312 56.7249 13 56.8937 13.4875 56.8937C13.975 56.8937 14.4437 56.7062 14.8187 56.3499C15.55 55.6187 15.55 54.4374 14.8187 53.7062C0.924976 39.8124 0.924976 17.2187 14.8187 3.32494C15.55 2.59369 15.55 1.41244 14.8187 0.681194C14.0875 -0.0500561 12.8875 -0.0688066 12.1562 0.662443Z"
										fill="#0749AA" />
									<path
										d="M59.8938 5.96873C59.1625 6.69998 59.1625 7.88123 59.8938 8.61248C65.2 13.9375 68.125 20.9875 68.125 28.5062C68.125 36.025 65.2 43.075 59.8938 48.4C59.1625 49.1312 59.1625 50.3125 59.8938 51.0437C60.2688 51.4187 60.7375 51.5875 61.225 51.5875C61.7125 51.5875 62.1813 51.4 62.5563 51.0437C68.5563 45.025 71.875 37.0187 71.875 28.5062C71.875 19.9937 68.5563 11.9875 62.5375 5.96873C61.8063 5.23748 60.625 5.23748 59.8938 5.96873Z"
										fill="#0749AA" />
									<path
										d="M17.4625 5.96873C11.4437 11.9875 8.125 19.9937 8.125 28.5062C8.125 37.0187 11.4437 45.025 17.4625 51.0437C17.8375 51.4187 18.3062 51.5875 18.7937 51.5875C19.2812 51.5875 19.75 51.4 20.125 51.0437C20.8562 50.3125 20.8562 49.1312 20.125 48.4C14.8 43.075 11.875 36.025 11.875 28.5062C11.875 20.9875 14.8 13.9375 20.1063 8.61248C20.8375 7.88123 20.8375 6.69998 20.1063 5.96873C19.375 5.23748 18.1937 5.23748 17.4625 5.96873Z"
										fill="#0749AA" />
									<path
										d="M55.9188 46.3C56.4063 46.3 56.875 46.1125 57.25 45.7563C66.7563 36.25 66.7563 20.7813 57.25 11.2938C56.5188 10.5625 55.3375 10.5625 54.6063 11.2938C53.875 12.025 53.875 13.2063 54.6063 13.9375C62.6501 21.9813 62.6501 35.0688 54.6063 43.1125C53.875 43.8438 53.875 45.0251 54.6063 45.7563C54.9438 46.1125 55.4313 46.3 55.9188 46.3Z"
										fill="#0749AA" />
									<path
										d="M25.4125 13.9187C26.1437 13.1875 26.1437 12.0062 25.4125 11.275C24.6812 10.5438 23.5 10.5438 22.7687 11.275C13.2625 20.7812 13.2625 36.25 22.7687 45.7375C23.1437 46.1125 23.6125 46.2812 24.1 46.2812C24.5875 46.2812 25.0562 46.0938 25.4312 45.7375C26.1625 45.0063 26.1625 43.825 25.4312 43.0938C17.3687 35.05 17.3687 21.9625 25.4125 13.9187Z"
										fill="#0749AA" />
									<path
										d="M50.6125 40.9938C51.1 40.9938 51.5688 40.8063 51.9438 40.45C58.525 33.8688 58.525 23.1625 51.9438 16.5813C51.2125 15.85 50.0313 15.85 49.3 16.5813C48.5688 17.3125 48.5688 18.4938 49.3 19.225C54.4188 24.3438 54.4188 32.6688 49.3 37.7875C48.5688 38.5188 48.5688 39.7 49.3 40.4313C49.6563 40.8063 50.125 40.9938 50.6125 40.9938Z"
										fill="#0749AA" />
									<path
										d="M29.3875 40.9938C29.875 40.9938 30.3438 40.8063 30.7188 40.45C31.45 39.7188 31.45 38.5375 30.7188 37.8063C28.2438 35.3125 26.875 32.0125 26.875 28.5063C26.875 25 28.2438 21.7 30.7188 19.225C31.45 18.4938 31.45 17.3125 30.7188 16.5813C29.9875 15.85 28.8063 15.85 28.075 16.5813C24.8875 19.7688 23.125 24.0063 23.125 28.5063C23.125 33.0063 24.8875 37.2438 28.075 40.4313C28.4313 40.8063 28.9188 40.9938 29.3875 40.9938Z"
										fill="#0749AA" />
									<path
										d="M43.975 35.1438C44.35 35.5188 44.8187 35.6875 45.3062 35.6875C45.7937 35.6875 46.2625 35.5 46.6375 35.1438C50.2937 31.4875 50.2937 25.5438 46.6375 21.8875C45.9062 21.1563 44.7249 21.1563 43.9937 21.8875C43.2624 22.6188 43.2624 23.8 43.9937 24.5313C46.1875 26.725 46.1875 30.2875 43.9937 32.4813C43.2437 33.2125 43.2437 34.4125 43.975 35.1438Z"
										fill="#0749AA" />
									<path
										d="M36.025 21.8875C35.2937 21.1563 34.1125 21.1563 33.3812 21.8875C29.725 25.5438 29.725 31.4875 33.3812 35.1438C33.7562 35.5188 34.225 35.6875 34.7125 35.6875C35.2 35.6875 35.6687 35.5 36.0437 35.1438C36.775 34.4125 36.775 33.2313 36.0437 32.5C33.85 30.3063 33.85 26.7438 36.0437 24.55C36.7562 23.8 36.7562 22.6188 36.025 21.8875Z"
										fill="#0749AA" />
									<path
										d="M38.125 28.5062V66.0062C38.125 67.0375 38.9688 67.8812 40 67.8812C41.0313 67.8812 41.875 67.0375 41.875 66.0062V28.5062C41.875 27.475 41.0313 26.6312 40 26.6312C38.9688 26.6312 38.125 27.475 38.125 28.5062Z"
										fill="#0749AA" />
								</svg>

							</div>
							<div class="info-card__title">Большой охват аудитории</div>
							<div class="info-card__text">
								<p>
									У 90% пользователей Интернета есть аккаунт хотя бы в одной социальной сети, каждый
									из которых оставляет в профиле свои данные о возрасте, интересах и т.д.
								</p>
							</div>
						</div>
						<!-- card -->
						<div class="info-card cards-slider__slide swiper-slide">
							<div class="info-card__ic">
								<svg width="65" height="65" viewBox="0 0 65 65">
									<g clip-path="url(#clip0_1223_97)">
										<path
											d="M37.3596 14.8069C35.7848 14.3752 34.1498 14.1564 32.5 14.1564C22.3853 14.1564 14.1564 22.3852 14.1564 32.4999C14.1564 42.6147 22.3853 50.8435 32.5 50.8435C42.6147 50.8435 50.8436 42.6147 50.8436 32.4999C50.8436 30.8502 50.6247 29.2152 50.1931 27.6403C49.8965 26.5584 50.5332 25.441 51.6151 25.1444C52.6963 24.848 53.8144 25.4845 54.111 26.5664C54.6385 28.4911 54.9061 30.4875 54.9061 32.4999C54.9061 44.8546 44.8547 54.906 32.5 54.906C20.1453 54.906 10.0939 44.8546 10.0939 32.4999C10.0939 20.1452 20.1453 10.0939 32.5 10.0939C34.5126 10.0939 36.5088 10.3614 38.4335 10.889C39.3358 11.1363 39.9284 11.9546 39.9283 12.8471C39.9283 13.0247 39.9047 13.2052 39.8555 13.3849C39.5591 14.4668 38.4418 15.1038 37.3596 14.8069ZM61.1429 21.8917C60.0672 22.2103 59.4533 23.3403 59.7718 24.4161C60.5453 27.0288 60.9375 29.7485 60.9375 32.4999C60.9375 48.1804 48.1805 60.9374 32.5 60.9374C16.8195 60.9374 4.0625 48.1804 4.0625 32.4999C4.0625 16.8195 16.8195 4.06245 32.5 4.06245C35.2516 4.06245 37.9713 4.45461 40.5835 5.228C41.6593 5.54666 42.7893 4.93246 43.1078 3.85691C43.1647 3.66458 43.1919 3.47072 43.1919 3.27991C43.1921 2.4033 42.6202 1.59423 41.7367 1.33258C38.7498 0.448221 35.6422 -5.09177e-05 32.5 -5.09177e-05C23.8189 -5.09177e-05 15.6574 3.38058 9.51895 9.51889C3.38064 15.6575 0 23.8189 0 32.4999C0 41.181 3.38064 49.3426 9.51895 55.481C15.6573 61.6194 23.8189 64.9999 32.5 64.9999C41.1811 64.9999 49.3425 61.6193 55.4811 55.481C61.6194 49.3426 65 41.181 65 32.4999C65 29.358 64.5516 26.2502 63.6672 23.2628C63.3489 22.1872 62.2185 21.5737 61.1429 21.8917ZM32.5 24.3749C32.7987 24.3749 33.1004 24.3915 33.3967 24.424C34.5123 24.5467 35.5151 23.7415 35.6373 22.6264C35.7596 21.5113 34.9549 20.5081 33.8397 20.3858C33.3967 20.3371 32.9461 20.3124 32.5 20.3124C25.7797 20.3124 20.3125 25.7797 20.3125 32.4999C20.3125 39.2202 25.7797 44.6874 32.5 44.6874C39.2203 44.6874 44.6875 39.2202 44.6875 32.4999C44.6875 31.3781 43.7781 30.4687 42.6562 30.4687C41.5344 30.4687 40.625 31.3781 40.625 32.4999C40.625 36.9801 36.9802 40.6249 32.5 40.6249C28.0198 40.6249 24.375 36.9801 24.375 32.4999C24.375 28.0198 28.0198 24.3749 32.5 24.3749ZM42.8713 19.2563L43.8831 9.1068C43.9296 8.63987 44.1363 8.20366 44.468 7.87193L51.7453 0.594851C52.306 0.0343533 53.1411 -0.14884 53.8849 0.125506C54.6284 0.399851 55.1446 1.08184 55.2067 1.87213L55.7837 9.21636L63.1278 9.79324C63.9181 9.85532 64.6001 10.3715 64.8744 11.1151C65.1488 11.8588 64.9656 12.6941 64.4051 13.2546L57.1279 20.5317C56.7963 20.8634 56.36 21.0701 55.8931 21.1166L45.7439 22.1289L33.9363 33.9363C33.5396 34.3329 33.0199 34.5312 32.5 34.5312C31.98 34.5312 31.4604 34.3329 31.0638 33.9362C30.2704 33.143 30.2704 31.8568 31.0638 31.0636L42.8713 19.2563ZM47.0879 17.9123L54.7681 17.1462L58.4161 13.4982L53.7356 13.1306C52.7392 13.0523 51.9479 12.2608 51.8696 11.2646L51.502 6.58374L47.8537 10.2319L47.0879 17.9123Z"
											fill="#0749AA" />
									</g>
									<defs>
										<clipPath id="clip0_1223_97">
											<rect width="65" height="65" fill="white" />
										</clipPath>
									</defs>
								</svg>
							</div>
							<div class="info-card__title">Точный таргетинг</div>
							<div class="info-card__text">
								<p>
									Аудитории можно сегментировать по полу, возрасту, географии, интересам и другим
									настройкам.
								</p>
							</div>
						</div>
						<!-- card -->
						<div class="info-card cards-slider__slide swiper-slide">
							<div class="info-card__ic">
								<svg width="65" height="65" viewBox="0 0 65 65">
									<path
										d="M62.6154 17.6877L62.6022 17.6745C62.0609 17.186 61.2292 17.186 60.7143 17.7009C60.1995 18.2157 60.1995 19.0474 60.7143 19.5623C62.8794 21.7274 62.8794 25.239 60.7143 27.4041C58.5493 29.5691 55.0376 29.5691 52.8726 27.4041C52.8462 27.3777 52.833 27.3645 52.8066 27.3513C50.8263 24.5789 48.2916 22.2554 45.374 20.526C48.3972 13.3971 45.0572 5.1725 37.9283 2.16253C30.7994 -0.847448 22.5748 2.47937 19.5648 9.60825C18.9576 11.0604 18.5879 12.605 18.4823 14.176C17.0829 13.78 15.9608 13.5951 15.0895 13.6216C13.6901 13.6348 12.6604 14.5061 12.502 15.7866C12.4095 16.3543 12.4756 17.186 12.7792 19.8923L13.0564 22.4799C10.5217 24.5393 8.52826 26.942 7.08928 29.6351L3.26081 30.3876C1.35977 30.7705 0 32.4471 0 34.3745V42.8632C0 44.8038 1.35977 46.4672 3.26081 46.8501L7.10248 47.6158C7.85498 49.0944 8.77909 50.4805 9.86162 51.7479C8.43585 55.2859 9.49198 59.3388 12.4491 61.7547C14.205 63.1805 16.4096 63.9594 18.6671 63.9462C21.2414 63.9462 23.7233 62.9693 25.6112 61.2135L26.5353 60.3422C29.9413 60.857 33.4266 60.7382 36.793 60.0253L38.0999 61.2795C39.9086 62.9825 42.3113 63.933 44.7932 63.9066H45.0704C45.0836 63.9066 45.0968 63.9066 45.11 63.9066C47.6975 63.8406 50.153 62.7581 51.9485 60.8834C54.7208 57.9527 55.0508 53.5433 52.8594 50.0845C55.3413 46.6257 56.6482 42.6652 56.6482 38.5727V37.6089C56.6482 37.5825 56.6482 37.5561 56.6482 37.5297C56.5294 35.5627 56.0146 33.5296 55.1168 31.4702C57.8232 32.051 60.6483 31.2193 62.6022 29.2523C65.797 26.0575 65.797 20.8825 62.6154 17.6877ZM32.476 3.68072C38.7468 3.66751 43.8427 8.73695 43.8559 15.0077C43.8691 18.7966 41.9812 22.3478 38.826 24.4601C38.7204 24.5393 38.6148 24.6977 38.5356 24.6977H26.4693C26.4165 24.6977 26.3505 24.6185 26.2845 24.5657C23.2877 22.6251 21.3867 19.3907 21.1226 15.8394C21.0962 15.5358 21.0962 15.2718 21.0962 15.0341C21.1094 8.77655 26.1921 3.69392 32.476 3.68072ZM50.2983 49.1076C50.0738 49.3716 49.7306 49.9789 50.1398 50.7974C50.1794 50.8766 50.219 50.9426 50.2718 51.0086C52.1861 53.5037 52.0805 56.8833 50.021 59.0616C48.7141 60.4214 46.945 61.2663 45.0308 61.2663H44.78C42.9713 61.2795 41.2287 60.6062 39.9086 59.3652L38.1923 57.7282C37.8887 57.4378 37.4795 57.2794 37.0702 57.2926C36.9646 57.2926 36.8722 57.3058 36.7666 57.3322C33.3737 58.1375 29.8621 58.2431 26.4165 57.6622C26.3373 57.649 26.2713 57.649 26.1921 57.649C25.7696 57.6358 25.3736 57.7943 25.0699 58.0847L23.7762 59.3124C22.456 60.5402 20.753 61.2399 18.9576 61.3191C17.2017 61.4115 15.4591 60.8438 14.0862 59.7481C11.8947 57.9527 11.2214 54.8767 12.4756 52.3288C12.6736 51.9987 12.7264 51.5895 12.6208 51.2066C12.568 50.969 12.4623 50.7578 12.3039 50.5862C11.063 49.2264 10.02 47.6818 9.21475 46.0184C9.14874 45.8864 9.06953 45.7676 8.96391 45.6619C8.71308 45.3847 8.38304 45.2131 8.0266 45.1471L3.77567 44.289C3.11559 44.157 2.64033 43.5629 2.64033 42.8896V34.3745C2.62713 33.7013 3.10239 33.1072 3.77567 32.9752L8.0398 32.1171C8.39624 32.051 8.72628 31.8794 8.97712 31.6022C9.08273 31.4966 9.16194 31.391 9.22795 31.2589C10.5745 28.5658 12.5812 26.1631 15.1819 24.1565C15.2215 24.1169 15.2611 24.0905 15.3007 24.0509C15.6043 23.7472 15.7628 23.338 15.7496 22.9155C15.7496 22.8627 15.7496 22.8231 15.7364 22.7703L15.3931 19.6019C15.2743 18.5854 15.0763 16.7503 15.1027 16.2487C15.1159 16.2487 15.1423 16.2487 15.1555 16.2487C15.6835 16.2355 16.7001 16.3279 18.5747 16.9352C18.9708 19.8659 20.2909 22.5855 22.3372 24.7109H21.083C20.3569 24.7109 19.7629 25.305 19.7629 26.0311C19.7629 26.7572 20.3569 27.3513 21.083 27.3513H43.9615C44.6876 27.3513 45.2816 26.7572 45.2816 26.0311C45.2816 25.305 44.6876 24.7109 43.9615 24.7109H42.5885C43.1694 24.1433 43.6842 23.5096 44.1199 22.8231C47.1695 24.6713 49.6778 27.1532 51.4072 30.0048L52.3445 31.8134C53.3082 33.8069 53.8627 35.8267 53.9947 37.6749V38.5859C53.9947 42.3483 52.7141 45.9788 50.2983 49.1076Z"
										fill="#0749AA" />
									<path
										d="M18.2843 31.9719C16.4096 31.9719 14.9047 33.4901 14.9047 35.3515C14.9047 37.2262 16.4229 38.7312 18.2843 38.7312C20.1457 38.7312 21.6639 37.213 21.6639 35.3515C21.6771 33.4901 20.1589 31.9719 18.2843 31.9719ZM18.2843 36.104C17.875 36.104 17.545 35.774 17.545 35.3647C17.545 34.9555 17.875 34.6255 18.2843 34.6255C18.6935 34.6255 19.0236 34.9555 19.0236 35.3647C19.0368 35.774 18.7067 36.104 18.2843 36.104Z"
										fill="#0749AA" />
									<path
										d="M32.476 7.03394C28.0535 7.03394 24.4758 10.6116 24.4758 15.0341C24.489 19.4435 28.0667 23.0211 32.476 23.0343C36.8986 23.0343 40.4762 19.4567 40.4762 15.0341C40.4762 10.6116 36.8986 7.03394 32.476 7.03394ZM32.476 20.394C29.5189 20.394 27.1162 17.9913 27.1162 15.0341C27.1162 12.077 29.5189 9.67426 32.476 9.67426C35.4332 9.67426 37.8359 12.077 37.8359 15.0341C37.8359 17.9913 35.4332 20.394 32.476 20.394Z"
										fill="#0749AA" />
								</svg>

							</div>
							<div class="info-card__title">Экономия бюджета</div>
							<div class="info-card__text">
								<p>
									Низкая стоимость клика по сравнению с рекламой на поиске
								</p>
							</div>
						</div>
						<!-- card -->
						<div class="info-card cards-slider__slide swiper-slide">
							<div class="info-card__ic">
								<svg width="65" height="65" viewBox="0 0 65 65">
									<path
										d="M32.5 65C50.4196 65 65 50.4209 65 32.5C65 23.8116 61.6212 15.649 55.4858 9.51421C49.3497 3.3788 41.1884 0 32.5 0C14.5791 0 0 14.5791 0 32.5C0 41.1884 3.3788 49.351 9.51421 55.4858C15.649 61.6212 23.8116 65 32.5 65ZM32.5 59.5833C26.1709 59.5833 20.177 57.4317 15.3534 53.4764L53.4764 15.3534C57.4317 20.177 59.5833 26.1709 59.5833 32.5C59.5833 47.4335 47.4335 59.5833 32.5 59.5833ZM32.5 5.41667C38.8278 5.41667 44.823 7.56826 49.6453 11.5236L11.5236 49.6466C7.56826 44.823 5.41667 38.8291 5.41667 32.5C5.41667 17.5665 17.5665 5.41667 32.5 5.41667Z"
										fill="#0749AA" />
								</svg>
							</div>
							<div class="info-card__title">Сайт необязателен</div>
							<div class="info-card__text">
								<p>
									Низкая стоимость клика по сравнению с рекламой на поиске
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- prices -->
	<section class="prices-b">
		<div class="prices-b__container container">
			<h2 class="title-1">Цены на таргетированную рекламу</h2>
			<div class="prices-b__list row-cols-4 row-cols-sm-12 jcc gx-30 gy-50">
				<!-- price card -->
				<div class="prices-b__card-box">
					<article class="price-card">
						<div class="price-card__ic price-card__ic--centered">
							<svg width="68" height="68" viewBox="0 0 68 68" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M66.4275 42.942L59.2535 37.3149C59.3895 36.2269 59.4915 35.1219 59.4915 33.9999C59.4915 32.8779 59.3895 31.773 59.2535 30.6849L66.4445 25.0579C67.0905 24.5479 67.2776 23.6299 66.8525 22.8819L60.0525 11.1009C59.6274 10.3699 58.7435 10.0639 57.9785 10.3699L49.5125 13.7869C47.7615 12.4438 45.8405 11.3049 43.7666 10.4379L42.4916 1.428C42.3384 0.629053 41.6415 0 40.7916 0H27.1916C26.3417 0 25.6446 0.629053 25.5086 1.428L24.2336 10.4379C22.1597 11.3049 20.2386 12.4269 18.4877 13.7869L10.0217 10.3699C9.25669 10.0809 8.37264 10.3699 7.94774 11.1009L1.14754 22.8819C0.722485 23.613 0.909591 24.531 1.55554 25.0579L8.72948 30.6849C8.59353 31.773 8.49153 32.8779 8.49153 33.9999C8.49153 35.1219 8.59353 36.2269 8.72948 37.3149L1.55554 42.942C0.909591 43.452 0.722485 44.37 1.14754 45.1179L7.94758 56.8989C8.37264 57.63 9.25653 57.936 10.0215 57.63L18.4875 54.213C20.2386 55.556 22.1595 56.6949 24.2335 57.5619L25.5085 66.5718C25.6444 67.3708 26.3415 67.9998 27.1915 67.9998H40.7914C41.6413 67.9998 42.3384 67.3708 42.4744 66.5718L43.7494 57.5619C45.8233 56.6949 47.7444 55.5729 49.4953 54.213L57.9613 57.63C58.7263 57.9189 59.6104 57.63 60.0353 56.8989L66.8353 45.1179C67.2605 44.387 67.0734 43.469 66.4275 42.942ZM33.9915 45.9C27.4125 45.9 22.0915 40.5789 22.0915 33.9999C22.0915 27.4209 27.4125 22.1 33.9915 22.1C40.5705 22.1 45.8915 27.4211 45.8915 34.0001C45.8915 40.5791 40.5705 45.9 33.9915 45.9Z"
									fill="#0749AA" />
							</svg>
						</div>
						<h5>
							<span>
								Пакет <span class="text-decoration-underline">Базовый</span>
							</span>
						</h5>
						<div class="price-card__textBox">
							<div class="price-card__subtitle">В стоимость входит:</div>
							<ul class="custom-list js-readmore" data-readmore-height="240">
								<li>
									Составление стратегии продвижения и подбор рекламных инструментов
								</li>
								<li>
									Рекомендации по оформлению профиля в социальной сети
								</li>
								<li>
									Создание и настройка рекламного кабинета
								</li>
								<li>
									Рекламируемые объекты (страницы сайта, сообщества) – <b>1</b>
								</li>
								<li>Написание текста для объявлений</li>
								<li>Подбор и сегментирование аудиторий для таргетинга</li>
								<li>
									Проверка работоспособности счетчиков аналитики. Настройка целей.
								</li>
								<li>
									Настройка связи между аккаунтами аналитики и рекламы
								</li>
								<li>
									Отчет о выполненных работах и результатах
								</li>
								<li>
									<b>Настройка и ведение таргета в одной социальной сети</b>
								</li>
							</ul>
							<p class="text-center color-primary mt-24" style="font-size: 1.14em;">
								<b>Настройка и ведение таргета в одной социальной сети</b>
							</p>
							<div class="price-card__cost">400 BYN</div>
						</div>
					</article>
				</div>
				<!-- price card -->
				<div class="prices-b__card-box">
					<!-- price card -->
					<article class="price-card">
						<div class="price-card__ic price-card__ic--centered">
							<svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M11 17.2825H1.57406C0.708787 17.2825 0.00920502 17.9821 0 18.8565V42.4214C0 43.2959 0.708787 43.9954 1.57406 43.9954H11C11.8745 43.9954 12.5741 43.2866 12.5741 42.4214V18.8565C12.5741 17.9821 11.8653 17.2825 11 17.2825Z"
									fill="#0749AA" />
								<path
									d="M26.713 0.00463867H17.2871C16.4218 0.00463867 15.713 0.70422 15.713 1.56949V42.4214C15.713 43.2959 16.4218 43.9954 17.2871 43.9954H26.713C27.5875 43.9954 28.2871 43.2866 28.2871 42.4214V1.5787C28.2871 0.70422 27.5783 0.00463867 26.713 0.00463867Z"
									fill="#0749AA" />
								<path
									d="M42.4259 12.5693H33C32.1255 12.5693 31.4259 13.2689 31.4259 14.1434V42.4212C31.4259 43.2957 32.1347 43.9953 33 43.9953H42.4259C43.3004 43.9953 44 43.2865 44 42.4212V14.1434C44 13.2689 43.2912 12.5693 42.4259 12.5693Z"
									fill="#0749AA" />
							</svg>
						</div>
						<h5>
							<span>
								Пакет <span class="text-decoration-underline">Оптимальный</span>
							</span>
						</h5>
						<div class="price-card__textBox">
							<div class="price-card__subtitle">В стоимость входит:</div>
							<ul class="custom-list js-readmore" data-readmore-height="240">
								<li>Составление стратегии продвижения и подбор рекламных инструментов</li>
								<li>Рекомендации по оформлению профиля в социальной сети</li>
								<li><b>Рекомендации по оптимизации посадочных страниц сайта</b></li>
								<li>Создание и настройка рекламного кабинета</li>
								<li>Рекламируемые объекты (страницы сайта, сообщества) – <b>3</b></li>
								<li>Написание текста для объявлений – <b>до 6 вариантов</b></li>
								<li>Дизайн рекламных креативов – <b>до 6 вариантов</b></li>
								<li>Подбор и сегментирование аудиторий для таргетинга</li>
								<li><b>А/B тестирование объявлений</b></li>
								<li>Проверка работоспособности счетчиков аналитики. Настройка целей.</li>
								<li>Настройка связи между аккаунтами аналитики и рекламы</li>
								<li>Отчет о выполненных работах и результатах </li>
								<li><b>*Скидка на настройку контекстной рекламы Google и Яндекс</b></li>
								<li><b>Настройка и ведение таргета в одной социальной сети</b></li>
							</ul>
							<p class="text-center color-primary mt-24" style="font-size: 1.14em;">
								<b>Настройка и ведение таргета в одной социальной сети</b>
							</p>
							<div class="price-card__cost">550 BYN</div>
						</div>
					</article>
				</div>
				<!-- price card -->
				<div class="prices-b__card-box">
					<!-- price card -->
					<article class="price-card">
						<div class="price-card__ic price-card__ic--centered">
							<svg width="50" height="36" viewBox="0 0 50 36" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M49.3751 13.9501L44.7626 34.3313C44.6711 34.7578 44.4338 35.139 44.0916 35.4093C43.7494 35.6797 43.3236 35.8223 42.8876 35.8126H6.96259C6.52656 35.8223 6.10079 35.6797 5.75857 35.4093C5.41634 35.139 5.17907 34.7578 5.08759 34.3313L0.625086 13.9501C0.549985 13.6057 0.573477 13.2471 0.692868 12.9155C0.812258 12.5838 1.02271 12.2926 1.30009 12.0751C1.57822 11.8568 1.91241 11.7216 2.26407 11.6852C2.61574 11.6487 2.97056 11.7123 3.28759 11.8688L14.2376 17.1751L23.3126 1.12509C23.4761 0.83653 23.7133 0.596515 23.9998 0.429529C24.2864 0.262542 24.6122 0.174561 24.9438 0.174561C25.2755 0.174561 25.6013 0.262542 25.8878 0.429529C26.1744 0.596515 26.4116 0.83653 26.5751 1.12509L35.6501 17.1938L46.6751 11.8501C46.9944 11.6808 47.3558 11.6075 47.7158 11.6388C48.0758 11.6701 48.4191 11.8048 48.7044 12.0267C48.9897 12.2486 49.2047 12.5481 49.3237 12.8894C49.4427 13.2306 49.4605 13.599 49.3751 13.9501Z"
									fill="inherit" />
							</svg>
						</div>
						<h5>
							<span>Пакет <span class="text-decoration-underline">Премиальный</span></span>
						</h5>
						<div class=" price-card__textBox">
							<div class="price-card__subtitle">В стоимость входит:</div>
							<ul class="custom-list js-readmore" data-readmore-height="240">
								<li>Составление стратегии продвижения и подбор рекламных инструментов</li>
								<li>
									<b>
										Оформление профиля в социальной сети: создание аккаунта, заполнение описания
										профиля, дизайн иконок
									</b>
								</li>
								<li>
									Рекомендации по оптимизации посадочных страниц сайта
								</li>
								<li>
									Создание и настройка рекламного кабинета
								</li>
								<li>
									Рекламируемые объекты (страницы сайта, сообщества) – 5
								</li>
								<li>
									Написание текста для объявлений – <b>до 10 вариантов</b>
								</li>
								<li>
									Дизайн рекламных креативов – <b>до 10 вариантов</b>
								</li>
								<li>
									Подбор и сегментирование аудиторий для таргетинга
								</li>
								<li>
									<b>Работа с базами данных (e-mail, подписчики сообществ и т.д)</b>
								</li>
								<li>
									<b>Настройка динамического ретаргетинга </b>
								</li>
								<li>
									А/B тестирование объявлений
								</li>
								<li>
									<b>Настройка сквозной аналитики</b>
								</li>
								<li>
									<b>Установка и настройка call-tracking (закупка номеров оплачивается отдельно)</b>
								</li>
								<li>
									Отчет о выполненных работах и результатах
								</li>
								<li>
									*Скидка на настройку контекстной рекламы Google и Яндекс
								</li>
								<li>
									*Скидка на SMM-ведение аккаунта в социальной сети
								</li>
								<li>
									<b>Настройка и ведение таргета в одной социальной сети</b>
								</li>
							</ul>
							<p class="text-center color-primary mt-24" style="font-size: 1.14em;">
								<b>Настройка и ведение таргета в одной социальной сети</b>
							</p>
							<div class="price-card__cost mt-12">1190 BYN</div>
						</div>
					</article>
				</div>
			</div>
	</section>
	<!-- section -->
	<section class="section">
		<div class="container">
			<h2 class="title-1 section__title" data-aos="zoom-in" data-aos-duration="2500">
				Дополнительные услуги и инструменты
			</h2>
			<div class="table-wrap pt-0">
				<div class="brs-16" style="min-width: 360px; overflow: hidden">
					<table class="table-1">
						<!-- thead -->
						<thead>
							<tr>
								<th>
									<div>
										Инструмент
									</div>
								</th>
								<th>
									<div>
										Стоимость настройки*
									</div>
								</th>
								<th>
									<div>
										Стоимость ведения*
									</div>
								</th>
							</tr>
						</thead>
						<!-- tbody -->
						<tbody>
							<tr>
								<td>
									<div>
										Настройка рекламы на Youtube
									</div>
								</td>
								<td>
									<div>
										250 BYN
									</div>
								</td>
								<td>
									<div>100 BYN</div>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										Реклама в почте Gmail
									</div>
								</td>
								<td>
									<div>
										100 BYN
									</div>
								</td>
								<td>
									<div>50 BYN</div>
								</td>
							</tr>
							<tr>
								<td>
									<div>
										Настойка рекламы на картах
									</div>
								</td>
								<td>
									<div>
										250 BYN
									</div>
								</td>
								<td>
									<div>100 BYN</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr class="fw-700 text-center">
								<td colspan="4">
									<div>
										<p>
											*стоимость актуальна для текущих клиентов
										</p>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!-- section -->
	<div class="section section">
		<div class="container">
			<div class="prices-b__list row-cols-6 row-cols-sm-12 jcc gx-30 gy-50">
				<!-- price card -->
				<article class="price-card" style="max-width: none;">
					<div class="price-card__ic price-card__ic--centered">
						<svg width="58" height="58" viewBox="0 0 58 58">
							<path
								d="M56.26 50.7499L50.46 27.5499C49.88 24.9399 47.56 23.1999 44.95 23.1999H40.6V18.8499C40.6 17.9799 40.02 17.3999 39.15 17.3999H33.35C32.48 17.3999 31.9 17.9799 31.9 18.8499V23.1999H26.1V18.8499C26.1 17.9799 25.52 17.3999 24.65 17.3999H18.85C17.98 17.3999 17.4 17.9799 17.4 18.8499V23.1999H13.34C10.44 23.1999 8.11995 24.9399 7.53995 27.5499L1.73995 50.7499C0.869952 54.5199 3.76995 57.9999 7.53995 57.9999H50.75C54.23 57.9999 57.13 54.5199 56.26 50.7499ZM29 52.1999C22.62 52.1999 17.4 46.9799 17.4 40.5999C17.4 34.2199 22.62 28.9999 29 28.9999C35.38 28.9999 40.6 34.2199 40.6 40.5999C40.6 46.9799 35.38 52.1999 29 52.1999Z"
								fill="#0749AA" />
							<path
								d="M29 46.3998C32.2032 46.3998 34.8 43.8031 34.8 40.5998C34.8 37.3966 32.2032 34.7998 29 34.7998C25.7967 34.7998 23.2 37.3966 23.2 40.5998C23.2 43.8031 25.7967 46.3998 29 46.3998Z"
								fill="#0749AA" />
							<path
								d="M29 0C13.05 0 0 5.22 0 11.89V17.4C0 19.14 1.45 20.3 2.9 20.3H11.02C13.34 20.3 14.79 17.98 13.63 15.95C12.76 13.92 14.21 11.6 16.53 11.6H41.76C44.08 11.6 45.53 13.92 44.37 15.95C43.21 17.98 44.66 20.3 46.98 20.3H55.1C56.84 20.3 58 18.85 58 17.4V11.89C58 5.22 44.95 0 29 0Z"
								fill="#0749AA" />
						</svg>
					</div>
					<h5>
						<span>
							Настройка Call-Tracking
						</span>
					</h5>
					<div class="price-card__textBox" style="margin: 0 auto; max-width: 460px;">
						<ul class="custom-list js-readmore" data-readmore-height="230">
							<li>
								Подбор оптимальной стратегии работы: статический или динамический колл-трекинг, помощь в
								расчете тарифа
							</li>
							<li>
								Установка кода счетчика на сайт
							</li>
							<li>
								Интеграция кода колл-трекинга со счетчиками веб-аналитики, настройка событий и целей
							</li>
						</ul>

						<div class="price-card__cost">от 200 BYN единоразово</div>
					</div>
				</article>
				<!-- price card -->
				<article class="price-card" style="max-width: none;">
					<div class="price-card__ic price-card__ic--centered">
						<svg width="46" height="43" viewBox="0 0 46 43">
							<path d="M41.5674 12.0854V23.8098C46.7637 22.0921 46.7682 13.8045 41.5674 12.0854Z"
								fill="#0749AA" />
							<path
								d="M7.25054 26.1857C9.85096 26.2855 12.4406 26.5576 15 27C15 27 14.9903 8.10523 15 8C12.0545 8.52031 9.06492 8.79035 6.0676 8.80685C4.45789 8.80963 2.91508 9.4105 1.7776 10.4777C0.640112 11.5448 0.000836856 12.9911 0 14.4993V20.4933C0.0498283 24.2236 3.41916 26.5502 7.25054 26.1857Z"
								fill="#0749AA" />
							<path
								d="M17 27.8744C22.5006 29.0296 27.8632 30.7474 33 33V2C27.8632 4.25254 22.5006 5.97035 17 7.12535C17 7.12535 17.0017 27.5525 17 27.8744Z"
								fill="#0749AA" />
							<path
								d="M38.9226 0.288423C37.1178 -0.606669 35.857 0.812856 34 1.41292V33.5664C35.5295 34.1094 36.3593 34.8738 37.7489 35C38.3473 34.9951 38.9194 34.7769 39.3408 34.3928C39.7623 34.0087 39.9992 33.4898 40 32.9487V2.03866C40.0024 1.68771 39.9046 1.34213 39.7158 1.03546C39.527 0.7288 39.2538 0.471462 38.9226 0.288423Z"
								fill="#0749AA" />
							<path
								d="M17.1356 30.0903H15.47V29.8953C14.9337 29.7897 8.20031 28.9329 5.37061 28.896L8.92935 40.5878C9.07857 41.0897 9.38649 41.5296 9.80693 41.8417C10.2274 42.1537 10.7377 42.321 11.2612 42.3184H13.0325C13.6784 42.3166 14.2973 42.0592 14.754 41.6024C15.2107 41.1457 15.4681 40.5268 15.47 39.8809V35.2578H17.1356C17.5568 35.248 17.9569 35.0713 18.2479 34.7666C18.5389 34.4619 18.697 34.0541 18.6875 33.6328V31.7153C18.6971 31.2941 18.539 30.8863 18.248 30.5815C17.9569 30.2768 17.5568 30.1001 17.1356 30.0903Z"
								fill="#0749AA" />
						</svg>
					</div>
					<h5>
						<span>
							Пополнение рекламных кабинетов
						</span>
					</h5>
					<div class="price-card__textBox" style="margin: 0 auto; max-width: 460px;">
						<p>
							Наша компания осуществляет зачисление, денежных средств для систем Google и Яндекс с НДС.
							Ежемесячно вы будете получать закрывающие документы по денежным средствам, зачисленным для
							бюджета рекламных кампаний.
						</p>
					</div>
				</article>
			</div>
		</div>
	</div>
	<!-- technologies -->
	<section class="section">
		<div class="container">
			<h2 class="title-1 section__title">Стек технологий</h2>
			<h3 class="mb-20 mb-sm-12 fz-24 fz-lg-20 fz-xs-14"><b>SMM</b></h3>
			<div class="logo-framed-list">
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/smm/livedune.jpg" alt="livedune">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/smm/smmPlanner.jpg" alt="SMM Planner">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/smm/figma.jpg" alt="figma">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/smm/fotored.jpg" alt="">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/smm/taplink.jpg" alt="taplink">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/smm/lizaonair.jpg" alt="lizaonair">
				</div>
			</div>
			<h3 class="mt-80 mt-sm-28 mb-20 mb-sm-12 fz-24 fz-lg-20 fz-xs-14">
				<b>Таргет</b>
			</h3>
			<div class="logo-framed-list">
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/target/livedune.jpg" alt="livedune">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/target/googleTagManager.jpg"
						alt="google tag manager">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/target/yandexMetrika.png" alt="Яндекс Метрика">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/target/googleAnalytics.png" alt="google analytics">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/target/facebook.jpg" alt="facebook">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/target/figma.jpg" alt="figma">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/target/fotored.jpg" alt="">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/target/ae.jpg" alt="">
				</div>
				<div class="logo-framed">
					<img src="../assets/img/components/technologies/target/instaplus.jpg" alt="instaplus.pro">
				</div>
			</div>
		</div>
	</section>
	<!-- band slider -->
	<section class="band-slider-b section">
		<div class="band-slider-b__container container">
			<h2 class="section__title title-1"><span>НАША КОМАНДА</span></h2>
			<!-- slider wrap -->
			<div class="band-slider-wrap slider-wrap">
				<!-- slider -->
				<div class="band-slider swiper-container">
					<div class="swiper-wrapper">
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/serg-d_ava.png)">
								</div>
								<h5 class="band-card__name">Сергей Дешук</h5>
								<p class="band-card__post">Директор</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Консалтинг по бизнес-процессам</li>
												<li>Менеджер проектов</li>
												<li>Специалист по продажам</li>
												<li>Планирование и контроль работы,
													разработка и внедрение стратегии по
													развитию компании</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/serg-d_s-1.jpg"
												data-fslightbox="serg-d">
												<img src="./assets/img/components/band/serg-d_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/serg-d_s-2.jpg"
												data-fslightbox="serg-d">
												<img src="./assets/img/components/band/serg-d_s-2.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/katya-d_ava.png)">
								</div>
								<h5 class="band-card__name">Екатерина Десятник</h5>
								<p class="band-card__post">Зам. директора </p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Web – аналитика</li>
												<li>Создание стратегии и постановка</li>
												<li>SEO/PPC задач</li>
												<li>Полное ведение ключевых проектов по</li>
												<li>SEO/PPC</li>
												<li>Консалтинг по вопросам продвижения</li>
												<li>Настройка таргетированной рекламы</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/katya-d_s-1.jpg"
												data-fslightbox="katya-d">
												<img src="./assets/img/components/band/katya-d_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/katya-d_s-2.jpg"
												data-fslightbox="katya-d">
												<img src="./assets/img/components/band/katya-d_s-2.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/katya-d_s-3.jpg"
												data-fslightbox="katya-d">
												<img src="./assets/img/components/band/katya-d_s-3.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/natali-b_ava.png)">
								</div>
								<h5 class="band-card__name">Наталья Богдан</h5>
								<p class="band-card__post">Project-менеджер</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Ведение проектов по разработке, SEO, PPC</li>
												<li>Контроль работы ключевых специалистов</li>
												<li>Анализ и контроль сроков выполнения задач</li>
												<li>Составление документации</li>
												<li>Общение с заказчиками</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/natali-b_s-1.jpg"
												data-fslightbox="natali-b">
												<img src="./assets/img/components/band/natali-b_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/natali-b_s-2.jpg"
												data-fslightbox="natali-b">
												<img src="./assets/img/components/band/natali-b_s-2.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/masha-s_ava.png)">
								</div>
								<h5 class="band-card__name">Мария Шиманович</h5>
								<p class="band-card__post">Web-дизайнер</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>UI/UX дизайн сайтов</li>
												<li>Дизайн рекламных креативов</li>
												<li>Оформление и ведение социальных сетей</li>
												<li>Редизайн сайтов</li>
												<li>Создание визуалов</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/masha-s_s-1.jpg"
												data-fslightbox="masha-s">
												<img src="./assets/img/components/band/masha-s_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/masha-s_s-2.jpg"
												data-fslightbox="masha-s">
												<img src="./assets/img/components/band/masha-s_s-2.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/kostya-l_ava.png)">
								</div>
								<h5 class="band-card__name">Контантин Ласый</h5>
								<p class="band-card__post">PPC специалист/WEB аналитик</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Настройка контекстной рекламы</li>
												<li>Настройка сквозной аналитики</li>
												<li>Внедрение систем аналитики,
													настройка событий и целей</li>
												<li>Разработка рекламной стратегии</li>
												<li>Составление отчетности по PPC
													проектам</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/kostya-l_s-1.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/kostya-l_s-1.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/kostya-l_s-2.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/kostya-l_s-2.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/kostya-l_s-3.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/kostya-l_s-3.jpg" alt="">
											</a>
											<a href="./assets/img/components/band/kostya-l_s-4.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/kostya-l_s-4.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/yura-b_ava.png)">
								</div>
								<h5 class="band-card__name">Юрий Безруков</h5>
								<p class="band-card__post">SEO-специалист</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Разработка стратегии по оптимизации сайта</li>
												<li>Работа с семантическим ядром</li>
												<li>Составление ТЗ на написание текстов</li>
												<li>Работа по внешней и внутренней оптимизации сайта</li>
												<li>Составление отчетности по SEO</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
										<div class="band-card__window band-card__window--certificates">
											<a href="./assets/img/components/band/kostya-l_s-1.jpg"
												data-fslightbox="kostya">
												<img src="./assets/img/components/band/yura-b_s-1.jpg" alt="">
											</a>
										</div>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/daria-k_ava.png)">
								</div>
								<h5 class="band-card__name">Качур Дарья</h5>
								<p class="band-card__post">Верстальщик</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Разработка стратегии по оптимизации сайта</li>
												<li>Работа с семантическим ядром</li>
												<li>Составление ТЗ на написание текстов</li>
												<li>Работа по внешней и внутренней оптимизации сайта</li>
												<li>Составление отчетности по SEO</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary disable"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
									</div>
								</div>
							</article>
						</div>
						<!-- slide -->
						<div class="band-slider__slide swiper-slide">
							<article class="band-card">
								<div class="band-card__img"
									style="background-image: url(./assets/img/components/band/dima-v_ava.png)">
								</div>
								<h5 class="band-card__name">Дмитрий Высоцкий</h5>
								<p class="band-card__post">Программист/разработчик</p>
								<div class="band-card__info flex">
									<!-- scills -->
									<div class="band-card__skills">
										<button class="band-card__skills-btn btn" data-btn-type="toggleClass"
											type="button" aria-label="Навыки">Skills</button>
										<div class="band-card__window band-card__window--scills">
											<ul class="custom-list">
												<li>Специалист по работе с CMS MODx,
													WordPress и Bitrix</li>
												<li>Разработка сайтов</li>
												<li>Оптимизация работы сайтов</li>
												<li>Установка сайтов на хостинг</li>
												<li>Техническая поддержка уже
													готовых сайтов.</li>
											</ul>
										</div>
									</div>
									<!-- certificates -->
									<div class="band-card__certificates">
										<button class="band-card__certificates-btn btn btn--secondary disable"
											data-btn-type="toggleClass" type="button"
											aria-label="Сертификаты">Сертификаты</button>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
				<!-- slider nav -->
				<div class="slider-nav">
					<button class="slider-arr slider-arr--prev" type="button" aria-label="Предыдужий слай">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_left"></use>
						</svg>
					</button>
					<button class="slider-arr slider-arr--next" type="button" aria-label="Следующий слай">
						<svg>
							<use href="./assets/img/icons/sprite.svg#slider-arr_right"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</section>
	<!-- reviews slider -->
	<section class="reviews-slider-b section" data-aos="fade-up">
		<div class="reviews-slider-b__container container">
			<h2 class="section__title	title-1" data-aos="zoom-in" data-aos-delay="800">
				<span>ОТЗЫВЫ</span>
			</h2>
		</div>
		<div class="reviews-slider-wrap slider-wrap">
			<div class="container">
				<!-- slider -->
				<div class="reviews-slider swiper-container">
					<div class="swiper-wrapper">
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/autobiz-o.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="assets/img/components/reviews-slider/autobiz-o.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/Blessflowers_ru.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="assets/img/components/reviews-slider/Blessflowers_ru.jpg" alt="">
								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="./assets/img/components/reviews-slider/otzyv-360.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="./assets/img/components/reviews-slider/otzyv-360.jpg" alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="./assets/img/components/reviews-slider/vettorg.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="./assets/img/components/reviews-slider/vettorg.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/autobiz-o.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="assets/img/components/reviews-slider/autobiz-o.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/Blessflowers_ru.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="assets/img/components/reviews-slider/Blessflowers_ru.jpg" alt="">
								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/autobiz-o.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="assets/img/components/reviews-slider/autobiz-o.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/Blessflowers_ru.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="assets/img/components/reviews-slider/Blessflowers_ru.jpg" alt="">
								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="./assets/img/components/reviews-slider/otzyv-360.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="./assets/img/components/reviews-slider/otzyv-360.jpg" alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="./assets/img/components/reviews-slider/vettorg.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="./assets/img/components/reviews-slider/vettorg.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/autobiz-o.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img" src="assets/img/components/reviews-slider/autobiz-o.jpg"
									alt="">

								<span class="review-photo__bg">
									<span class="review-photo__zoom loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
						<!-- slide -->
						<a href="assets/img/components/reviews-slider/Blessflowers_ru.jpg"
							class="reviews-slider__slide review-photo swiper-slide" data-fslightbox="reviews">
							<span class="review-photo__inner">
								<img class="review-photo__img"
									src="assets/img/components/reviews-slider/Blessflowers_ru.jpg" alt="">
								<span class="review-photo__bg">
									<span class="review-photo__zoom  loop-zoom">
										<img src="assets/img/icons/ui/loop.svg" alt="">
									</span>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="btns jcc mt-52 mt-sm-36">
					<a class="btn-section btn" href="#">все отзывы</a>
				</div>
			</div>
		</div>
	</section>
	<!-- faq -->
	<section class="faq-b section mt-76">
		<div class="faq-b__container container">
			<h2 class="section__title title-1" data-aos="zoom-in">Faq</h2>
			<!-- accardion -->
			<div class="faq-accardion accardion">
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Можете ли вы гарантировать ТОП-1 в поисковых системах?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Что эффективнее: SEO или контекстная реклама?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Можно ли пополнять рекламные аккаунты Google, Яндекс и Facebook по
							безналу?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Какая минимальная сумма пополнения?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Как сэкономить на рекламе, если моя компания работает с НДС?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
				<!-- accardion item -->
				<div class="accardion__item">
					<!-- accardion header -->
					<div class="accardion__item-header">
						<span>Буду ли я иметь доступ к рекламному кабинету?</span>
						<span class="accardion__item-arr">
							<svg>
								<use xlink:href="./assets/img/icons/sprite.svg#arr-circ"></use>
							</svg>
						</span>
					</div>
					<!-- accardion dropdown -->
					<div class="accardion__item-drop">
						<div class="accardion__item-content">
							<p>
								Позиция Google и Яндекс такова, что никто не может гарантировать попадание
								сайта в ТОП и неизменность его позиций, включая самих специалистов Google и
								Яндекс. Однако, зная принципы работы поисковых систем и имея опыт
								продвижения в различных тематиках, мы можем прогнозировать достижение таких
								результатов.
								Часто гарантированный вывод в ТОП-1 используют мошенники в качестве дешевого
								рекламного хода.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- application block -->
	<section class="application-b">
		<div class="application-b__container container">
			<div class="application-b__row">
				<div class="application-b__left">
					<div class="b24-form">
						<div id="b24-7738154165522853004949766543470124" data-styles-apllied="true"
							class="b24-form-style-modern">
							<div class="b24-form-wrapper b24-form-shadow">
								<div class="b24-form-header b24-form-padding-side">
									<div class="b24-form-header-title">ПОЛУЧИТЕ ПРЕДЛОЖЕНИЕ КОНКРЕТНО ДЛЯ ВАШЕГО БИЗНЕСА
									</div>
									<!---->
								</div>
								<div class="b24-form-content b24-form-padding-side">
									<form method="post" novalidate="novalidate">
										<div class="b24-form-progress-container">
											<div class="b24-form-progress-bar-container"><svg viewport="0 0 44 44"
													width="44" height="44" class="b24-form-progress">
													<circle r="20" cx="22" cy="22" stroke-width="4"
														class="b24-form-progress-track"></circle>
													<circle r="20" cx="22" cy="22" stroke-width="4"
														stroke-dasharray="125.60000000000001"
														stroke-dashoffset="62.800000000000004"
														class="b24-form-progress-bar"></circle>
												</svg>
												<div class="b24-form-progress-bar-counter"><strong>1</strong>/2
												</div>
											</div>
											<div class="b24-form-progress-bar-title">
												Контакты
											</div>
										</div>
										<div>
											<div class="b24-form-field b24-form-field-name b24-form-control-string">
												<div>
													<div>
														<div
															class="b24-form-control-container b24-form-control-icon-after">
															<input name="name" autocomplete="given-name" type="string"
																class="b24-form-control">
															<div class="b24-form-control-label">
																КП: Имя
																<span class="b24-form-control-required">*</span>
															</div>
															<!---->
															<!---->
															<div class="b24-form-control-alert-message"
																style="display: none;">
																Поле обязательно для заполнения
															</div>
														</div>
													</div>
													<!---->
													<!---->
												</div>
												<!---->
											</div>
											<div
												class="b24-form-field b24-form-field-phone b24-form-control-string b24-form-control-group">
												<div>
													<div>
														<div
															class="b24-form-control-container b24-form-control-icon-after">
															<input name="phone" autocomplete="tel" type="tel"
																class="b24-form-control">
															<div class="b24-form-control-label">
																КП: Телефон
																<span class="b24-form-control-required">*</span>
															</div>
															<!---->
															<!---->
															<div class="b24-form-control-alert-message"
																style="display: none;">
																Поле обязательно для заполнения
															</div>
														</div>
													</div> <a class="b24-form-control-add-btn">
														Добавить еще
													</a>
													<!---->
												</div>
												<!---->
											</div>
											<div class="b24-form-field b24-form-field-email b24-form-control-string">
												<div>
													<div>
														<div
															class="b24-form-control-container b24-form-control-icon-after">
															<input name="email" autocomplete="email" type="email"
																class="b24-form-control">
															<div class="b24-form-control-label">
																КП: E-mail
																<span class="b24-form-control-required"
																	style="display: none;">*</span>
															</div>
															<!---->
															<!---->
															<div class="b24-form-control-alert-message"
																style="display: none;">

															</div>
														</div>
													</div>
													<!---->
													<!---->
												</div>
												<!---->
											</div>
										</div>
										<!---->
										<!---->
										<div class="b24-form-btn-container">
											<!---->
											<div class="b24-form-btn-block"><button type="button" class="b24-form-btn">
													Далее
												</button></div>
											<!---->
										</div> <span style="color: red; display: none;">
											Debug: fill fields
										</span>
									</form>
								</div>
								<div class="b24-form-state-container">
									<div class="b24-form-loader" style="display: none;">
										<div class="b24-form-loader-icon"><svg
												xmlns:xlink="http://www.w3.org/1999/xlink"
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 263 174">
												<defs><svg width="158px" height="158px" viewBox="0 0 158 158"
														version="1.1" xmlns="http://www.w3.org/2000/svg"
														xmlns:xlink="http://www.w3.org/1999/xlink">
														<path id="bxSunLines"
															d="M79,0 C80.6568542,0 82,1.34314575 82,3 L82,22 C82,23.6568542 80.6568542,25 79,25 C77.3431458,25 76,23.6568542 76,22 L76,3 C76,1.34314575 77.3431458,0 79,0 Z M134.861,23.139 C136.032146,24.3104996 136.032146,26.2095004 134.861,27.381 L121.426,40.816 C120.248863,41.9529166 118.377746,41.9366571 117.220544,40.7794557 C116.063343,39.6222543 116.047083,37.7511367 117.184,36.574 L130.619,23.139 C131.7905,21.9678542 133.6895,21.9678542 134.861,23.139 L134.861,23.139 Z M158,79 C158,80.6568542 156.656854,82 155,82 L136,82 C134.343146,82 133,80.6568542 133,79 C133,77.3431458 134.343146,76 136,76 L155,76 C156.656854,76 158,77.3431458 158,79 Z M134.861,134.861 C133.6895,136.032146 131.7905,136.032146 130.619,134.861 L117.184,121.426 C116.40413,120.672777 116.091362,119.557366 116.365909,118.508478 C116.640455,117.45959 117.45959,116.640455 118.508478,116.365909 C119.557366,116.091362 120.672777,116.40413 121.426,117.184 L134.861,130.619 C136.032146,131.7905 136.032146,133.6895 134.861,134.861 Z M79,158 C77.3431458,158 76,156.656854 76,155 L76,136 C76,134.343146 77.3431458,133 79,133 C80.6568542,133 82,134.343146 82,136 L82,155 C82,156.656854 80.6568542,158 79,158 Z M23.139,134.861 C21.9678542,133.6895 21.9678542,131.7905 23.139,130.619 L36.574,117.184 C37.3272234,116.40413 38.4426337,116.091362 39.491522,116.365909 C40.5404103,116.640455 41.3595451,117.45959 41.6340915,118.508478 C41.9086378,119.557366 41.5958698,120.672777 40.816,121.426 L27.381,134.861 C26.2095004,136.032146 24.3104996,136.032146 23.139,134.861 Z M0,79 C0,77.3431458 1.34314575,76 3,76 L22,76 C23.6568542,76 25,77.3431458 25,79 C25,80.6568542 23.6568542,82 22,82 L3,82 C1.34314575,82 0,80.6568542 0,79 L0,79 Z M23.139,23.139 C24.3104996,21.9678542 26.2095004,21.9678542 27.381,23.139 L40.816,36.574 C41.5958698,37.3272234 41.9086378,38.4426337 41.6340915,39.491522 C41.3595451,40.5404103 40.5404103,41.3595451 39.491522,41.6340915 C38.4426337,41.9086378 37.3272234,41.5958698 36.574,40.816 L23.139,27.381 C21.9678542,26.2095004 21.9678542,24.3104996 23.139,23.139 Z"
															fill="#FFD110" class="bx-sun-lines-animate"></path>
													</svg></defs>
												<g fill="none" fill-rule="evenodd">
													<path
														d="M65.745 160.5l.245-.005c13.047-.261 23.51-10.923 23.51-23.995 0-13.255-10.745-24-24-24-3.404 0-6.706.709-9.748 2.062l-.47.21-.196-.477A19.004 19.004 0 0 0 37.5 102.5c-10.493 0-19 8.507-19 19 0 1.154.103 2.295.306 3.413l.108.6-.609-.01A17.856 17.856 0 0 0 18 125.5C8.335 125.5.5 133.335.5 143s7.835 17.5 17.5 17.5h47.745zM166.5 85.5h69v-.316l.422-.066C251.14 82.73 262.5 69.564 262.5 54c0-17.397-14.103-31.5-31.5-31.5-.347 0-.694.006-1.04.017l-.395.013-.103-.382C226.025 9.455 214.63.5 201.5.5c-15.014 0-27.512 11.658-28.877 26.765l-.047.515-.512-.063a29.296 29.296 0 0 0-3.564-.217c-16.016 0-29 12.984-29 29 0 15.101 11.59 27.643 26.542 28.897l.458.039v.064z"
														stroke-opacity=".05" stroke="#000" fill="#000"></path>
													<circle stroke="#FFD110" stroke-width="6" cx="131.5" cy="95.5"
														r="44.5" class="b24-form-loader-icon-sun-ring"></circle>
												</g>
												<use xlink:href="#bxSunLines" y="16.5" x="52.5" width="158" height="158"
													class="b24-form-loader-icon-sun-line"></use>
											</svg></div>
									</div>
									<div class="b24-form-state b24-form-success" style="display: none;">
										<div class="b24-form-state-inner">
											<div class="b24-form-state-icon b24-form-success-icon"></div>
											<div class="b24-form-state-text">
												<p>Отправлено!</p>
												<p></p>
											</div>
											<!---->
										</div>
										<div class="b24-form-inner-box"></div>
									</div>
									<div class="b24-form-state b24-form-error" style="display: none;">
										<div class="b24-form-state-inner">
											<div class="b24-form-state-icon b24-form-error-icon"></div>
											<div class="b24-form-state-text">
												<p></p>
											</div> <button class="b24-form-btn b24-form-btn-border b24-form-btn-tight">
												Отправить еще раз
											</button>
										</div>
										<div class="b24-form-inner-box"></div>
									</div>
									<div class="b24-form-state b24-form-warning" style="display: none;">
										<div class="b24-form-state-inner">
											<div class="b24-form-state-icon b24-form-warning-icon"><svg
													xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 169 169">
													<defs>
														<circle id="a" cx="84.5" cy="84.5" r="65.5"></circle>
														<filter x="-.8%" y="-.8%" width="101.5%" height="101.5%"
															filterUnits="objectBoundingBox" id="b">
															<feGaussianBlur stdDeviation=".5" in="SourceAlpha"
																result="shadowBlurInner1"></feGaussianBlur>
															<feOffset dx="-1" dy="-1" in="shadowBlurInner1"
																result="shadowOffsetInner1"></feOffset>
															<feComposite in="shadowOffsetInner1" in2="SourceAlpha"
																operator="arithmetic" k2="-1" k3="1"
																result="shadowInnerInner1"></feComposite>
															<feColorMatrix
																values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0886691434 0"
																in="shadowInnerInner1" result="shadowMatrixInner1">
															</feColorMatrix>
															<feGaussianBlur stdDeviation=".5" in="SourceAlpha"
																result="shadowBlurInner2"></feGaussianBlur>
															<feOffset dx="1" dy="1" in="shadowBlurInner2"
																result="shadowOffsetInner2"></feOffset>
															<feComposite in="shadowOffsetInner2" in2="SourceAlpha"
																operator="arithmetic" k2="-1" k3="1"
																result="shadowInnerInner2"></feComposite>
															<feColorMatrix
																values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.292285839 0"
																in="shadowInnerInner2" result="shadowMatrixInner2">
															</feColorMatrix>
															<feMerge>
																<feMergeNode in="shadowMatrixInner1"></feMergeNode>
																<feMergeNode in="shadowMatrixInner2"></feMergeNode>
															</feMerge>
														</filter>
													</defs>
													<g fill="none" fill-rule="evenodd">
														<circle stroke-opacity=".05" stroke="#000" fill-opacity=".07"
															fill="#000" cx="84.5" cy="84.5" r="84"></circle>
														<use fill="#FFF" xlink:href="#a"></use>
														<use fill="#000" filter="url(#b)" xlink:href="#a"></use>
														<path
															d="M114.29 99.648L89.214 58.376c-1.932-3.168-6.536-3.168-8.427 0L55.709 99.648c-1.974 3.25.41 7.352 4.234 7.352h50.155c3.782 0 6.166-4.103 4.193-7.352zM81.404 72.756c0-1.828 1.48-3.29 3.33-3.29h.452c1.85 0 3.33 1.462 3.33 3.29v12.309c0 1.827-1.48 3.29-3.33 3.29h-.453c-1.85 0-3.33-1.463-3.33-3.29V72.756zm7.77 23.886c0 2.274-1.892 4.143-4.194 4.143s-4.193-1.869-4.193-4.143c0-2.275 1.891-4.144 4.193-4.144 2.302 0 4.193 1.869 4.193 4.144z"
															fill="#000" opacity=".4"></path>
													</g>
												</svg></div>
											<div class="b24-form-state-text">
												<p>Форма не актуальна</p>
											</div>
										</div>
										<div class="b24-form-inner-box"></div>
									</div>
								</div>
								<div class="b24-form-recaptcha">
									<div>
										<div class="grecaptcha-badge" data-style="inline"
											style="width: 256px; height: 60px; box-shadow: gray 0px 0px 5px;">
											<div class="grecaptcha-logo"><iframe title="reCAPTCHA"
													src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcHcdEUAAAAACBnH9teNrlEpOQb63k7g1tAFpEW&amp;co=aHR0cHM6Ly9jd2ViLmJ5OjQ0Mw..&amp;hl=ru&amp;v=1p3YWy80wlZ7Q8QFR1gjazwU&amp;size=invisible&amp;badge=inline&amp;cb=2gt1m7v19239"
													width="256" height="60" role="presentation" name="a-j0brjzso4asy"
													frameborder="0" scrolling="no"
													sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
											</div>
											<div class="grecaptcha-error"></div><textarea id="g-recaptcha-response"
												name="g-recaptcha-response" class="g-recaptcha-response"
												style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
										</div>
									</div>
								</div>
								<!---->
							</div>
						</div>
					</div>
				</div>
				<div class="application-b__right">
					<div class="application-b__img">
						<img src="./assets/img/components/b-application/application-b-bg.jpg" alt="">
					</div>
					<div class="application-b__overlay flex-col">
						<!-- logo -->
						<a class="logo" href="#">
							<img class="logo__ic" src="assets/img/logo-ic.png" alt="логотип">
							<span class="logo__text">CWEB</span>
						</a>
						<p>
							обещаем только то, что можем выполнить!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}